<div class="cart__accepted-payments">
  <p class="accepted-payments__title">{{ 'sections.cart.accepted_payments' | t }}</p>

  <div class="accepted-payments__list">
    <img src="{{ 'logo-paypal.svg' | asset_url }}" alt="{{ 'sections.footer.payment.paypal' | t }}" width="43" height="27" loading="lazy">
    <img src="{{ 'logo-discover.svg' | asset_url }}" alt="{{ 'sections.footer.payment.discover' | t }}" width="43" height="27" loading="lazy">
    <img src="{{ 'logo-visa.svg' | asset_url }}" alt="{{ 'sections.footer.payment.visa' | t }}" width="43" height="27" loading="lazy">
    <img src="{{ 'logo-amex.svg' | asset_url }}" alt="{{ 'sections.footer.payment.amex' | t }}" width="43" height="27" loading="lazy">
    <img src="{{ 'logo-mastercard.svg' | asset_url }}" alt="{{ 'sections.footer.payment.mastercard' | t }}" width="43" height="27" loading="lazy">
    <img src="{{ 'logo-affirm.svg' | asset_url }}" alt="{{ 'sections.footer.payment.affirm' | t }}" width="43" height="27" loading="lazy">
  </div>
</div>