<div id="landing-page-cta">
    <div>
        <h2 id="landing-page-subheader">{{ 'templates.landingPage.expo_cta.title_one' | t }}<span id="landing-page-subheader-span">{{ 'templates.landingPage.expo_cta.title_two' | t }}</span>
        </h2>
        <p id="landing-page-subheader-text">{{ 'templates.landingPage.expo_cta.subtext_one' | t }}<span id="landing-page-subheader-text-span"><br>{{ 'templates.landingPage.expo_cta.subtext_two' | t }}</span>
        </p>
    </div>
</div>
<div id="landing-page-expo-rings">
    <img src="{{ 'MJ-WeddingExpo-Rings-Desktop.png' | asset_url }}" id="landing-page-financing-banner" loading="lazy" width="800" height="594">
    <button class="landing-page-button" id="financing-terms-button"><a href="/pages/flexible-financing" target="_blank" rel="noopener noreferrer">FINANCING TERMS</a></button>
</div>
