<div id="landing-page-cards">
    <div class="expo-card expo-card-one">
        <div id="card-one-text">
            <p id="card-one-header">{{ 'templates.landingPage.expo_cards.card_one.title_one' | t }} <br> {{ 'templates.landingPage.expo_cards.card_one.title_two' | t }}</p>
            <p id="card-one-p">{{ 'templates.landingPage.expo_cards.card_one.title_three' | t }}</p>
            <div class="klaviyo-form-MrzSV3"></div>
        </div>
    </div>
    <div id="expo-form-card">
        <div class="klaviyo-form-MrzSV3" id="expo-form"></div>
    </div>
    <div class="expo-card expo-card-two">
        <div id="card-two-text">
            <p id="card-two-header">{{ 'templates.landingPage.expo_cards.card_two.title' | t }}</p>
            <p id="card-two-p">{{ 'templates.landingPage.expo_cards.card_two.subtext' | t }}</p>
        </div>
    </div>
    <div class="expo-card expo-card-three">
        <div id="card-three-text">
            <p id="card-three-p">{{ 'templates.landingPage.expo_cards.card_three.subtext' | t }}</p>
            <button class="landing-page-button" id="pre-qualified-btn"><a href="/pages/flexible-financing" target="_blank" rel="noopener noreferrer">GET PRE-QUALIFIED</a></button>
        </div>
    </div>
</div>
<img src="{{ 'MJ-LoveGrowsHere-Banner.png' | asset_url }}" loading="lazy" id="love-grows-here-banner" width="900" height="234">
</image>
