<div id="lagos_collectionWrap">
    <div id="lagos_heroWrap">
        <img loading="lazy" width="100" height="100"  width="100" height="100" id="heroDesk" src="{{ 'lag_bn.webp' | asset_url }}" alt="Hero Desktop">
        <img loading="lazy" width="100" height="100"  id="heroMobile" src="{{ 'lag_bn-small.jpg' | asset_url }}" alt="Hero Mobile">
    </div>
    <div id="videoRow">
        <video src="{{ 'steve_lagos_small.mp4' | asset_url }}" controls="true"></video>
    </div>
    <div class="bio-row bio-steve">
        <img loading="lazy" width="100" height="100"   src="{{ 'steve.jpg' | asset_url }}" alt="Steven Lagos"/>
        <div id="bioContent">
            <h2>Steven Lagos</h2>
            <small>Founder, Designer & Creative  Director</small>
            <p>Steven Lagos founded LAGOS in 1977 in Philadelphia. He draws his design inspiration from the effortless style of the LAGOS woman as well as the art, culture, and sights from his frequent travels. His values are integrity, strength and smart. These values define the culture of the company and are represented in every piece of jewelry he designs.</p>
        </div>
    </div>
    <div id="heroesRow">
        <h2>Meet The Heroes</h2>
        <ul>
            <li>
                <img loading="lazy" width="100" height="100"  src="{{ 'signature.jpg' | asset_url }}" alt="Signature"/>
                <h3>Signature Caviar</h3>
                <p>Discover the iconic, unmistakable, signature design</p>
            </li>
            <li>
                <img loading="lazy" width="100" height="100"  src="{{ 'smart.jpg' | asset_url }}" alt="Smart Caviar"/>
                <h3>Smart Caviar</h3>
                <p>The first fine jewelry bracelet for your Apple Watch®.</p>
            </li>
            <li>
                <img loading="lazy" width="100" height="100"  src="{{ 'high-bar.jpg' | asset_url }}" alt="High Bar"/>
                <h3>High Bar</h3>
                <p>More than 40 years ago, Steven Lagos pioneered the two-tone category.</p>
            </li>
        </ul>
    </div>
    <div class="bio-row bio-kate">
        <img loading="lazy" width="100" height="100"  src="{{ 'kate.jpg' | asset_url }}" alt="Meet Kate"/>
        <div id="bioContent">
            <h2>Meet Kate</h2>
            <small>Brand Stylist</small>
            <p>Brand Stylist, Kate Lagos offers a unique style perspective. Learning from her father, Steven Lagos, yet having a singular point of view that is effortless and joyful. She encourages all women to style, stack, and have fun.</p>
        </div>
    </div>
	<div class="klaviyo-form-YyiZKe"></div>
</div>
