<div class="product-page__finance">
  <h3>{{ fin_head }}</h3>
  <p>{{ fin_txt }}</p>
  <ul>
    <li>
      <a href="/pages/flexible-financing">{{ fin_12 }}</a>
      <span class="tool-tip-trigger">i
        <span class="ti-tool-tip"><p class="ti-tool-tip-header">No Interest if paid in full within <span class="alt-color">12 months</p>
          <ul><li>Minimum purchase of <strong>$995 required.</strong></li></ul>
          <p>Interest will be charged to your account from the purchase date if the purchase balance is not paid in full within the promotional period</p>

          <p>The Wells Fargo Jewelry Advantage credit card is issued by Wells Fargo Financial National Bank. Special terms apply to qualifying purchases of $995 or more charged with approved credit. Minimum monthly payments are required during the promotional 12 month period. Interest will be charged to your account from the purchase date at the APR for Purchases if the purchase balance is not paid in full within the promotional period. Paying only the minimum monthly payment will not pay off the purchase balance before the end of the promotional period. For new accounts, the APR for Purchases is 28.99%. If you are charged interest in any billing cycle, the minimum interest charge will be $1.00. This information is accurate as of 01/06/2016 and is subject to change. For current information, call us at 1-800-431-5921.</p>
        </span>
      </span>
    </li>
    <li>
      <a href="/pages/flexible-financing">{{ fin_36 }}</a>
      <span class="tool-tip-trigger">i
        <span class="ti-tool-tip"><p class="ti-tool-tip-header">Reduced rate of 9.99% APR with<br><span class="alt-color">36 regular payments</p>
          <ul><li>Minimum purchase of <strong>$995 required.</strong></li></ul>
          <p>Interest will be charged to your account from the purchase date if the purchase balance is not paid in full within the promotional period</p>

          <p>The Wells Fargo Jewelry Advantage credit card is issued by Wells Fargo Financial National Bank. Special terms apply to qualifying purchases charged with approved credit. The special terms APR will continue to apply until all qualifying purchases are paid in full. Regular monthly payments are required during the promotional 36 month period. The APR for Purchases will apply to certain fees such as a late payment fee or if you use the card for other transactions. For new accounts, the APR for Purchases is 28.99%. If you are charged interest in any billing cycle, the minimum interest charge will be $1.00. This information is accurate as of 09/01/2016 and is subject to change. For current information, call us at 1-800-431-5921</p>
        </span>
      </span>
    </li>
    <li>
      <a href="/pages/flexible-financing">{{ fin_60 }}</a>
      <span class="tool-tip-trigger">i
        <span class="ti-tool-tip"><p class="ti-tool-tip-header">Reduced rate of 9.99% APR with<br><span class="alt-color">60 regular payments</p>
          <ul><li>Minimum purchase of <strong>$995 required.</strong></li></ul>
          <p>Interest will be charged to your account from the purchase date if the purchase balance is not paid in full within the promotional period</p>

          <p>The Wells Fargo Jewelry Advantage credit card is issued by Wells Fargo Financial National Bank. Special terms apply to qualifying purchases charged with approved credit. The special terms APR will continue to apply until all qualifying purchases are paid in full. Regular monthly payments are required during the promotional 60 month period. The APR for Purchases will apply to certain fees such as a late payment fee or if you use the card for other transactions. For new accounts, the APR for Purchases is 28.99%. If you are charged interest in any billing cycle, the minimum interest charge will be $1.00. This information is accurate as of 09/01/2016 and is subject to change. For current information, call us at 1-800-431-5921</p>
        </span>
      </span>
    </li>
  </ul>
  <a class="btn finance-cta" href="https://mylpro.com/2xk2x">{{ fin_cta }}</a>
</div>
