<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  {%- capture seo_title -%}{% render 'head-seo-title' %}{%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="{{ 'favicon.ico' | asset_url }}">
  <link rel="icon" href="{{ 'favicon.svg' | asset_url }}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ 'apple-touch-icon.png' | asset_url }}">

  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

  <link rel="preload" href="{{ 'nunitosans-light.woff2' | asset_url }}" as="font" crossorigin>
  <link rel="preload" href="{{ 'nunitosans-regular.woff2' | asset_url }}" as="font" crossorigin>
  <link rel="preload" href="{{ 'nunitosans-semibold.woff2' | asset_url }}" as="font" crossorigin>
  <link rel="preload" href="{{ 'fonts.css' | asset_url }}" as="style" onload="this.onload=null; this.rel='stylesheet'" crossorigin>
  <noscript>
    <link rel="stylesheet" href="{{ 'fonts.css' | asset_url }}">
  </noscript>

  <link rel="preload" href="{{ 'main.css' | asset_url }}" as="style">
  <link rel="preload" href="{{ 'main.js' | asset_url }}" as="script">

  {%- liquid
    render 'head-meta-tags'
    render 'head-settings'
  -%}

  {{ 'main.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'main.js' | asset_url }}" defer></script>

  {{ content_for_header }}
</head>
<body class="layout-{{ request.page_type | handle }} template-{{ template.name }}{% if template.suffix %}-{{ template.suffix }}{% endif %}">
  {%- comment -%} Accessibilty {%- endcomment -%}
  <a class="sr-only focusable skip-link" href="#main">{{ 'accessibility.skip_to_content' | t }}</a>

  <div class="wrapper">
    {% section 'announcement-bar' %}
    {% section 'header' %}

    <main id="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
  </div>

  {% render 'footer-json-schema' %}
</body>
</html>
