{%- if section.settings.text != blank -%}
  {{ 'section-announcement-bar.css' | asset_url | stylesheet_tag }}

  <div class="announcement-bar" role="region" aria-label="{{ 'sections.header.announcement' | t }}" >
    <div class="container announcement-bar__content">
      {%- if section.settings.link != blank -%}
        <a href="{{ section.settings.link }}" class="announcement-bar__link">
      {%- endif -%}
        {{ section.settings.text }}
      {%- if section.settings.link != blank -%}
        </a>
      {%- endif -%}

      <i class="announcement-bar__close"
         tabindex="0"
         role="button"
        aria-label="{{ 'accessibility.close' | t }} {{ 'sections.header.announcement' | t }}"
        onclick="this.closest('.announcement-bar').classList.add('announcement-bar--hide'); document.cookie = 'abar=; path=/; SameSite=Strict';">
        {% render 'icon', icon: 'close' -%}
      </i>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "Announcement text"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Make text a link?"
    }
  ]
}
{% endschema %}
