{%- capture styling -%}
  {%- if section.settings.section_image != blank -%}
    --background-image: url({{ section.settings.section_image | image_url }});
  {%- endif -%}
  {%- if section.settings.text_color != blank -%}
    --copy-color: {{ section.settings.text_color }};
  {%- endif -%}
  {%- if section.settings.heading_desktop_size != blank -%}
    --heading-font-size-desktop: {% render 'to-rem', n: section.settings.heading_desktop_size %};
  {%- endif -%}
  {%- if section.settings.heading_mobile_size != blank -%}
    --heading-font-size-mobile: {% render 'to-rem', n: section.settings.heading_mobile_size %};
  {%- endif -%}
  {%- if section.settings.bg_color != blank -%}
    --bg-color: {{ section.settings.bg_color }};
  {%- endif -%}
  {%- if section.settings.section_cta_text_color != blank -%}
    --cta-text-color: {{ section.settings.section_cta_text_color }};
  {%- endif -%}
  {%- if section.settings.section_cta_bg_color != blank -%}
    --cta-bg-color: {{ section.settings.section_cta_bg_color }};
  {%- endif -%}
  {%- if section.settings.section_cta_border_color != blank -%}
    --cta-border-color: {{ section.settings.section_cta_border_color }};
  {%- endif -%}
  {%- if section.settings.section_cta_border_width != blank -%}
    --cta-border-width: {{ section.settings.section_cta_border_width }}px;
  {%- endif -%}
  {%- if section.settings.section_spacing_top != blank -%}
    --section-spacing-top: {% render 'to-rem', n: section.settings.section_spacing_top %};
  {%- endif -%}
  {%- if section.settings.section_spacing_bottom != blank -%}
    --section-spacing-bottom: {% render 'to-rem', n: section.settings.section_spacing_bottom %};
  {%- endif -%}
  {%- if section.settings.section_max_width != blank -%}
    --section-width: {{ section.settings.section_max_width }}px;
  {%- else -%}
    --section-width: 100%;
  {%- endif -%}
  {%- if section.settings.section_inner_spacing_top != blank -%}
    --section-inner-spacing-top: {% render 'to-rem', n: section.settings.section_inner_spacing_top %};
  {%- endif -%}
  {%- if section.settings.section_inner_spacing_bottom != blank -%}
    --section-inner-spacing-bottom: {% render 'to-rem', n: section.settings.section_inner_spacing_bottom %};
  {%- endif -%}
{%- endcapture -%}

{{ 'section-tour-block.css' | asset_url | stylesheet_tag }}

<div class="section-content section__tour--block" style="{{ styling }}">
  <div class="container">
    <div class="section__tour--wrapper">
      <div class="section__tour--copy text-center">
        {%- if section.settings.section_header != blank -%}
          <h2 class="section__content-heading">{{ section.settings.section_header }}</h2>
        {%- endif -%}
        {%- if section.settings.section_sub_header != blank -%}
            <span class="section__sub-header">{{ section.settings.section_sub_header }}</span>
          {%- endif -%}
        {%- if section.settings.section_paragraph != blank -%}
          <p> {{ section.settings.section_paragraph }} </p>
        {%- endif -%}
        {% render 'img', img: 'arrows.webp', width: '117', height: '120', loading: 'lazy' %}
        <div class="content__cta-container">
          {% if section.settings.section_cta_text != blank and section.settings.section_cta_url != blank %}
            <a class="content__cta btn" href="{{ section.settings.section_cta_url }}">{{ section.settings.section_cta_text }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "360 Tour Banner",
  "tag": "section",
  "settings": [
    {
      "id": "heading_desktop_size",
      "type": "range",
      "min": 12,
      "max": 48,
      "step": 1,
      "unit": "px",
      "default": 24,
      "label": "Heading font size desktop"
    },
    {
      "id": "heading_mobile_size",
      "type": "range",
      "min": 12,
      "max": 48,
      "step": 1,
      "unit": "px",
      "default": 24,
      "label": "Heading font size mobile"
    },
    {
      "id": "section_image",
      "type": "image_picker",
      "label": "Background image"
    },
    {
      "id": "text_color",
      "type": "color",
      "label": "Text color"
    },
    {
      "id": "section_header",
      "type": "richtext",
      "label": "Section Header"
    },
    {
      "id": "section_sub_header",
      "type": "richtext",
      "label": "Section Sub Header"
    },
    {
      "id": "section_paragraph",
      "type": "richtext",
      "label": "Section Paragraph"
    },
    {
      "id": "section_cta_text",
      "type": "text",
      "label": "Button Text"
    },
    {
      "id": "section_cta_url",
      "type": "url",
      "label": "Button URL"
    },
    {
      "id": "section_spacing_top",
      "type": "text",
      "label": "Section Top Spacing",
      "info": "px"
    },
    {
      "id": "section_spacing_bottom",
      "type": "text",
      "label": "Section Bottom Spacing",
      "info": "px"
    },
    {
      "id": "section_inner_spacing_top",
      "type": "text",
      "label": "Section Top Padding",
      "info": "px"
    },
    {
      "id": "section_inner_spacing_bottom",
      "type": "text",
      "label": "Section Bottom Padding",
      "info": "px"
    }
  ],
  "presets": [
    {
      "name": "360 Tour Banner"
    }
  ]
}
{% endschema %}
