{%- capture styling -%}
  {%- if section.settings.bg_color != blank -%}
    --bg-color: {{ section.settings.bg_color }};
  {%- endif -%}
  {%- if section.settings.section_spacing_top != blank -%}
    --section-spacing-top: {% render 'to-rem', n: section.settings.section_spacing_top %};
  {%- endif -%}
  {%- if section.settings.section_spacing_bottom != blank -%}
    --section-spacing-bottom: {% render 'to-rem', n: section.settings.section_spacing_bottom %};
  {%- endif -%}
  {%- if section.settings.section_inner_spacing_top != blank -%}
    --section-inner-spacing-top: {% render 'to-rem', n: section.settings.section_inner_spacing_top %};
  {%- endif -%}
  {%- if section.settings.section_inner_spacing_bottom != blank -%}
    --section-inner-spacing-bottom: {% render 'to-rem', n: section.settings.section_inner_spacing_bottom %};
  {%- endif -%}
{%- endcapture -%}
{{ 'section-diamond-shop.css' | asset_url | stylesheet_tag }}

<div class="section__diamond--shop" style="{{ styling }}">
  <div class="container flex justify-between">
    {%- for block in section.blocks -%}
      <div class="content__diamond--shop flex flex-center">
        <div class="content__diamond--copy">
          <h2>{{ block.settings.block_header }}</h2>
          <span>{{ block.settings.block_sub_header }}</span>
          <p>{{ block.settings.block_paragraph }}</p>
          <a href="{{ block.settings.section_cta_url }}" class="btn">{{ block.settings.section_cta_text }}</a>
        </div>
        <div class="content__diamond--images">
          {% render 'img', img: block.settings.section_brand_img, width: block.settings.section_brand_img.width, height: block.settings.section_brand_img.height, loading: 'lazy' %}
          {% render 'img', img: block.settings.section_diamond_img, width: block.settings.section_diamond_img.width, height: block.settings.section_diamond_img.height, loading: 'lazy' %}
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Diamond Shop",
  "tag": "section",
  "settings": [
    {
      "id": "bg_color",
      "type": "color",
      "label": "Background color"
    },
    {
      "id": "section_spacing_top",
      "type": "text",
      "label": "Section Top Spacing",
      "info": "px"
    },
    {
      "id": "section_spacing_bottom",
      "type": "text",
      "label": "Section Bottom Spacing",
      "info": "px"
    },
    {
      "id": "section_inner_spacing_top",
      "type": "text",
      "label": "Section Top Padding",
      "info": "px"
    },
    {
      "id": "section_inner_spacing_bottom",
      "type": "text",
      "label": "Section Bottom Padding",
      "info": "px"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Diamond Collection",
      "settings": [
        {
          "id": "block_header",
          "type": "richtext",
          "label": "Section Header"
        },
        {
          "id": "block_sub_header",
          "type": "richtext",
          "label": "Section Sub Header"
        },
        {
          "id": "block_paragraph",
          "type": "richtext",
          "label": "Section Paragraph"
        },
        {
          "id": "section_diamond_img",
          "type": "image_picker",
          "label": "Select diamond image"
        },
        {
          "id": "section_brand_img",
          "type": "image_picker",
          "label": "Select diamond brand image"
        },
        {
          "id": "section_prompt_img",
          "type": "image_picker",
          "label": "Select prompt image"
        },
        {
          "id": "section_cta_text",
          "type": "text",
          "label": "Button Text"
        },
        {
          "id": "section_cta_url",
          "type": "url",
          "label": "Button URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Diamond Shop Block"
    }
  ]
}
{% endschema %}
