{%- comment -%} Tokens to style block {%- endcomment -%}
{%- capture styling -%}
  {%- if section.settings.heading_color != blank -%}
    --our-services-heading-color: {{ section.settings.heading_color }};
  {%- endif -%}
  {%- if section.settings.bg_color != blank -%}
    --our-services-bg-color: {{ section.settings.bg_color }};
  {%- endif -%}
  {%- if section.settings.paragraph_color != blank -%}
    --our-services-color: {{ section.settings.paragraph_color }};
  {%- endif -%}
{%- endcapture -%}

{{ 'section-home-our-services.css' | asset_url | stylesheet_tag }}

<div class="section__our-services" style="{{ styling }}">
  <span class="our-services__header-logo">
    {% render 'img', img: section.settings.logo, width: 50, height: 55, crop: 'center', loading: 'lazy' %}
  </span>
  <h2 class="home-section-heading">{{ section.settings.section_header }}</h2>
  <p>{{ section.settings.section_paragraph }}</p>
  <div class="our-services__item-row">
  {% for block in section.blocks %}
    <div class="our-services__item" style="--our-services-cta-bg-color: {{ block.settings.our_service_cta_bg_color }}; --our-services-cta-border-color: {{ block.settings.our_service_cta_border }}; --our-services-cta-text-color: {{ block.settings.our_service_cta_color }}; --our-services-cta-border-width: {{ block.settings.our_service_cta_border_width }}px;">
      {% if block.settings.our_services_image %}
        <span class="our-services__item-image">
          {% render 'img', img: block.settings.our_services_image, width: block.settings.our_services_image.width, height: block.settings.our_services_image.height, crop: 'center', loading: 'lazy' %}
        </span>
      {% endif %}
      {% if block.settings.our_service_cta_link %}
        <a class="btn" href="{{ block.settings.our_service_cta_link }}">
          {{ block.settings.our_service_cta_text }}
        </a>
      {% endif %}
    </div>
  {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Home Our Services",
  "tag": "section",
  "max_blocks": 3,
  "settings": [
    {
      "id": "heading_color",
      "type": "color",
      "label": "Heading color"
    },
    {
      "id": "bg_color",
      "type": "color",
      "label": "Background color"
    },
    {
      "id": "paragraph_color",
      "type": "color",
      "label": "Paragraph text color"
    },
    {
      "id": "logo",
      "type": "image_picker",
      "label": "Section Logo"
    },
    {
      "id": "section_header",
      "type": "text",
      "label": "Section Header"
    },
    {
      "id": "section_paragraph",
      "type": "text",
      "label": "Section Paragraph"
    }
  ],
  "blocks": [
    {
      "type": "our_services",
      "name": "Our Services Item",
      "settings": [
        {
          "id": "our_services_image",
          "type": "image_picker",
          "label": "Our Service Image"
        },
        {
          "id": "our_service_cta_text",
          "type": "text",
          "label": "Our Service Button Text"
        },
        {
          "id": "our_service_cta_bg_color",
          "type": "color",
          "label": "Button Background Color"
        },
        {
          "id": "our_service_cta_border",
          "type": "color",
          "label": "Button Border Color"
        },
        {
          "id": "our_service_cta_border_width",
          "type": "range",
          "min": 1,
          "max": 10,
          "unit": "px",
          "label": "Button Border Width",
          "default": 1
        },
        {
          "id": "our_service_cta_color",
          "type": "color",
          "label": "Button Text Color"
        },
        {
          "id": "our_service_cta_link",
          "type": "url",
          "label": "Our Service Button URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Our Services"
    }
  ]
}
{% endschema %}
