{{ 'locket_app.css' | asset_url | stylesheet_tag }}
{{ 'custom_locket.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/v4-shims.min.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" async></script>
<script src="https://rawgit.com/kangax/fabric.js/master/dist/fabric.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.18.0/matter.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/pathseg@1.2.1/pathseg.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/poly-decomp@0.3.0/build/decomp.min.js" defer></script>

<div class="main-loader-holder" style="display:none">
  <div class="inner-loader-holder">
    <div id="loader"></div>
  </div>
</div>

<section class="locket-design-main">
  <div class="locket-conatiner">
    <h3 class="LocketHeading">Home / Create Your Locket</h3>
    <div class="locket-design-wrapper">
      <div class="locket-box locket-listing">
        <div class="tabs-area">
          <ul class="tab-list-ul">
            <li class="clickme activelink lt" style="pointer-events: none">
              <a data-tag="tab1">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="11" cy="11" r="10" stroke="#5B5B5B" stroke-width="2"/>
                </svg>
                <span>LOCKET</span>
              </a>
            </li>
            <li class="clickme chrm" style="pointer-events: none">
              <a data-tag="tab2">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M11.3824 0.333374C11.0919 0.333374 10.7792 0.394259 10.4368 0.543009C8.69961 1.29843 9.29083 5.67907 9.91383 8.64473C8.01158 6.98632 5.24133 4.86902 3.49716 4.86902C3.14658 4.86902 2.83829 4.95568 2.5857 5.14701C1.05737 6.31018 1.92906 7.92554 1.62981 9.07996C1.32706 10.2332 -0.223019 11.2182 0.542898 12.9799C0.915648 13.8368 2.16982 14.1272 3.70224 14.1272C5.27607 14.1272 7.1431 13.8207 8.64576 13.5051C6.65368 15.7883 3.99893 19.3236 5.14576 20.8309C5.74776 21.6225 6.47276 21.7697 7.19085 21.7697C7.61843 21.7697 8.04343 21.7173 8.44069 21.7173C8.6641 21.7173 8.87918 21.7338 9.07985 21.7857C10.0091 22.0289 10.8295 23.0834 12.0341 23.0834C12.3246 23.0834 12.6373 23.0225 12.9797 22.8737C14.2521 22.3204 14.2727 19.8216 13.9505 17.3594C15.3128 19.8018 17.7519 22.6604 22.0146 23.6439C22.1278 23.6736 22.2459 23.6803 22.3618 23.6636C22.4776 23.6469 22.589 23.6071 22.6892 23.5465C22.7894 23.486 22.8765 23.4059 22.9452 23.3112C23.0139 23.2164 23.0629 23.1088 23.0893 22.9947C23.1157 22.8806 23.1189 22.7624 23.0988 22.6471C23.0787 22.5317 23.0356 22.4216 22.9721 22.3232C22.9087 22.2248 22.8261 22.1402 22.7294 22.0742C22.6326 22.0083 22.5236 21.9625 22.4088 21.9395C18.6068 21.0623 16.4876 18.4453 15.3313 16.26C16.9265 17.4741 18.68 18.5477 19.9194 18.5477C20.2694 18.5477 20.5782 18.4617 20.8308 18.2697C22.3592 17.1066 21.4875 15.4912 21.7867 14.3368C22.0895 13.1835 23.6395 12.1986 22.8736 10.4369C22.5009 9.57997 21.2472 9.28959 19.7166 9.28959C18.1433 9.28959 16.2768 9.59722 14.7742 9.9128C16.7651 7.62905 19.4176 4.09315 18.2708 2.58582C17.6688 1.79423 16.9438 1.64701 16.2257 1.64701C15.7981 1.64701 15.3731 1.69942 14.9758 1.69942C14.7524 1.69942 14.5373 1.68298 14.3367 1.63106C13.4074 1.38781 12.587 0.333374 11.3824 0.333374ZM11.3824 2.08337C11.586 2.08337 11.9412 2.31174 12.2848 2.53341C12.7363 2.82449 13.2482 3.1549 13.898 3.32524C14.2212 3.40924 14.5739 3.45056 14.9758 3.45056C15.2255 3.45056 15.4599 3.43608 15.6868 3.42208C15.8804 3.40983 16.0623 3.39815 16.2257 3.39815C16.5786 3.39815 16.6973 3.44349 16.7988 3.55082C16.7731 4.02566 16.1592 5.66161 13.4548 8.76436C12.9608 9.33136 12.8848 10.1505 13.2657 10.7992C13.5842 11.3423 14.1623 11.6639 14.7742 11.6639C14.8938 11.6639 15.014 11.6514 15.1342 11.6263C16.9571 11.2431 18.5423 11.0407 19.7177 11.0407C20.7275 11.0407 21.1668 11.1884 21.3162 11.2561C21.3751 11.4515 21.3108 11.6245 20.8844 12.286C20.5933 12.7375 20.2629 13.2495 20.0925 13.8993C19.9251 14.5445 19.963 15.1519 19.9968 15.688C20.0458 16.4732 20.0174 16.6548 19.8704 16.7966C19.5682 16.7703 18.1236 16.479 14.6568 13.455C14.3302 13.1697 13.9197 13.0243 13.5061 13.0243C13.2022 13.0243 12.8968 13.1037 12.622 13.2647C11.9733 13.645 11.6391 14.397 11.7937 15.1332C12.6366 19.1523 12.3768 20.8812 12.1674 21.3129C12.1167 21.3263 12.072 21.3334 12.0341 21.3334C11.8305 21.3334 11.4753 21.105 11.1318 20.8833C10.6803 20.5923 10.1683 20.2618 9.51848 20.0915C9.19532 20.0075 8.8426 19.9662 8.44069 19.9662C8.19102 19.9662 7.95666 19.9807 7.72975 19.9947C7.53608 20.0069 7.35418 20.0186 7.19085 20.0186C6.83793 20.0186 6.71927 19.9727 6.61777 19.8659C6.64344 19.3911 7.25846 17.7557 9.96396 14.6547C10.4586 14.0877 10.5357 13.2685 10.1554 12.6198C9.83687 12.0767 9.25826 11.7539 8.64576 11.7539C8.52676 11.7539 8.4059 11.7665 8.28574 11.7915C6.46224 12.1742 4.87766 12.3772 3.70224 12.3772C2.69016 12.3772 2.24969 12.2289 2.10035 12.1607C2.04144 11.9653 2.10574 11.7934 2.53216 11.1319C2.82324 10.6804 3.15365 10.1684 3.32399 9.51859C3.4914 8.87343 3.45352 8.26594 3.41969 7.72986C3.37069 6.94469 3.39974 6.76191 3.54615 6.62016C3.84832 6.64582 5.29231 6.9389 8.76197 9.96407C9.08864 10.2487 9.49969 10.3947 9.91269 10.3947C10.2166 10.3947 10.5232 10.3153 10.7979 10.1543C11.4466 9.774 11.7797 9.02087 11.6251 8.28471C10.7804 4.26613 11.0391 2.53669 11.248 2.10502C11.2999 2.09044 11.3445 2.08337 11.3824 2.08337Z"
                    fill="#5B5B5B"/>
                </svg>
                <span>CHARM</span>
              </a>
            </li>
            <li class="clickme chn" style="pointer-events: none">
              <a data-tag="tab3">
                <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M0 0C0 3.67432 1.11768 7.1333 2.98047 9.70703C4.65869 12.0244 6.99316 13.6445 9.625 13.9453V15.1758H10.5H11.375V13.9453C14.0068 13.6445 16.3413 12.0244 18.0195 9.70703C19.8823 7.1333 21 3.67432 21 0H19.25C19.25 3.31543 18.2178 6.4292 16.5977 8.66797C14.9775 10.9067 12.8208 12.25 10.5 12.25C8.1792 12.25 6.02246 10.9067 4.40234 8.66797C2.78223 6.4292 1.75 3.31543 1.75 0H0Z"
                    fill="#5B5B5B"/>
                </svg>
                <span>CHAIN</span>
              </a>
            </li>
          </ul>
          <div class="drag_drop">
            <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M2.74989 0.500014C1.24001 0.500014 -0.000105845 1.74013 -0.000105845 3.25001C-0.00151138 3.3494 0.0168495 3.44807 0.0539098 3.5403C0.0909701 3.63252 0.145991 3.71646 0.215774 3.78724C0.285557 3.85802 0.368712 3.91422 0.460405 3.95258C0.552097 3.99094 0.6505 4.0107 0.749894 4.0107C0.849288 4.0107 0.947691 3.99094 1.03938 3.95258C1.13108 3.91422 1.21423 3.85802 1.28401 3.78724C1.3538 3.71646 1.40882 3.63252 1.44588 3.5403C1.48294 3.44807 1.5013 3.3494 1.49989 3.25001C1.49989 2.5509 2.05078 2.00001 2.74989 2.00001C2.84928 2.00142 2.94795 1.98306 3.04018 1.946C3.1324 1.90894 3.21634 1.85392 3.28712 1.78413C3.3579 1.71435 3.4141 1.6312 3.45246 1.5395C3.49082 1.44781 3.51058 1.34941 3.51058 1.25001C3.51058 1.15062 3.49082 1.05222 3.45246 0.960524C3.4141 0.868832 3.3579 0.785677 3.28712 0.715894C3.21634 0.646111 3.1324 0.59109 3.04018 0.55403C2.94795 0.516969 2.84928 0.498608 2.74989 0.500014ZM5.74989 0.500014C5.33589 0.500014 4.99989 0.836014 4.99989 1.25001C4.99989 1.66401 5.33589 2.00001 5.74989 2.00001C6.16389 2.00001 6.49989 1.66401 6.49989 1.25001C6.49989 0.836014 6.16389 0.500014 5.74989 0.500014ZM8.74989 0.500014C8.33589 0.500014 7.99989 0.836014 7.99989 1.25001C7.99989 1.66401 8.33589 2.00001 8.74989 2.00001C9.16389 2.00001 9.49989 1.66401 9.49989 1.25001C9.49989 0.836014 9.16389 0.500014 8.74989 0.500014ZM11.7499 0.500014C11.6505 0.498608 11.5518 0.516969 11.4596 0.55403C11.3674 0.59109 11.2834 0.646111 11.2127 0.715894C11.1419 0.785677 11.0857 0.868832 11.0473 0.960524C11.009 1.05222 10.9892 1.15062 10.9892 1.25001C10.9892 1.34941 11.009 1.44781 11.0473 1.5395C11.0857 1.6312 11.1419 1.71435 11.2127 1.78413C11.2834 1.85392 11.3674 1.90894 11.4596 1.946C11.5518 1.98306 11.6505 2.00142 11.7499 2.00001C12.449 2.00001 12.9999 2.5509 12.9999 3.25001C12.9985 3.3494 13.0168 3.44807 13.0539 3.5403C13.091 3.63252 13.146 3.71646 13.2158 3.78724C13.2856 3.85802 13.3687 3.91422 13.4604 3.95258C13.5521 3.99094 13.6505 4.0107 13.7499 4.0107C13.8493 4.0107 13.9477 3.99094 14.0394 3.95258C14.1311 3.91422 14.2142 3.85802 14.284 3.78724C14.3538 3.71646 14.4088 3.63252 14.4459 3.5403C14.4829 3.44807 14.5013 3.3494 14.4999 3.25001C14.4999 1.74013 13.2598 0.500014 11.7499 0.500014ZM7.24989 5.00001C5.74001 5.00001 4.49989 6.24013 4.49989 7.75001V16.75C4.49989 18.2599 5.74001 19.5 7.24989 19.5H16.2499C17.7598 19.5 18.9999 18.2599 18.9999 16.75V7.75001C18.9999 6.24013 17.7598 5.00001 16.2499 5.00001H7.24989ZM0.749894 5.50001C0.335894 5.50001 -0.000105845 5.83601 -0.000105845 6.25001C-0.000105845 6.66401 0.335894 7.00001 0.749894 7.00001C1.16389 7.00001 1.49989 6.66401 1.49989 6.25001C1.49989 5.83601 1.16389 5.50001 0.749894 5.50001ZM7.24989 6.50001H16.2499C16.949 6.50001 17.4999 7.0509 17.4999 7.75001V16.75C17.4999 17.4491 16.949 18 16.2499 18H7.24989C6.55078 18 5.99989 17.4491 5.99989 16.75V7.75001C5.99989 7.0509 6.55078 6.50001 7.24989 6.50001ZM0.749894 8.50001C0.335894 8.50001 -0.000105845 8.83601 -0.000105845 9.25001C-0.000105845 9.66401 0.335894 10 0.749894 10C1.16389 10 1.49989 9.66401 1.49989 9.25001C1.49989 8.83601 1.16389 8.50001 0.749894 8.50001ZM10.2509 9.50294C10.2105 9.49594 10.1681 9.50059 10.1288 9.51759C10.0508 9.55109 9.99989 9.62888 9.99989 9.71388V14.001C9.99989 14.0835 10.047 14.1579 10.121 14.1934C10.195 14.2294 10.284 14.2195 10.3485 14.168L11.2216 13.4688L12.0477 15.3701C12.0947 15.4786 12.2205 15.529 12.329 15.4815L12.9852 15.1963C13.0937 15.1493 13.1431 15.0226 13.0956 14.9141L12.661 13.9121L12.2704 13.0127L13.4013 12.8819C13.4843 12.8724 13.554 12.8158 13.58 12.7363C13.606 12.6578 13.5843 12.5707 13.5233 12.5137L10.3602 9.55763C10.329 9.52863 10.2912 9.50994 10.2509 9.50294ZM0.738175 11.4893C0.539433 11.4924 0.35005 11.5742 0.211622 11.7169C0.0731948 11.8595 -0.0029568 12.0513 -0.000105845 12.25C-0.000105845 13.7599 1.24001 15 2.74989 15C2.84928 15.0014 2.94795 14.9831 3.04018 14.946C3.1324 14.9089 3.21634 14.8539 3.28712 14.7841C3.3579 14.7144 3.4141 14.6312 3.45246 14.5395C3.49082 14.4478 3.51058 14.3494 3.51058 14.25C3.51058 14.1506 3.49082 14.0522 3.45246 13.9605C3.4141 13.8688 3.3579 13.7857 3.28712 13.7159C3.21634 13.6461 3.1324 13.5911 3.04018 13.554C2.94795 13.517 2.84928 13.4986 2.74989 13.5C2.05078 13.5 1.49989 12.9491 1.49989 12.25C1.50133 12.1496 1.48261 12.05 1.44483 11.957C1.40704 11.864 1.35097 11.7795 1.27994 11.7085C1.2089 11.6376 1.12435 11.5816 1.03129 11.544C0.938231 11.5063 0.838556 11.4877 0.738175 11.4893Z"
                fill="#C5C5C5"/>
            </svg>
            <p>Drag & Drop</p>
          </div>
          <div class="select_size" style="display:none">
            <img class="chain-select" src="{{ 'chain-locket.png' | asset_url }}" alt="chain-locket" width="1200"
                 height="1201" loading="lazy"/>
            <svg fill="#c5c5c5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="25px" height="25px">
              <path
                d="M 9 2.59375 L 9 28.15625 L 10.65625 26.78125 L 14.6875 23.40625 L 16.71875 27.4375 L 17.15625 28.34375 L 18.0625 27.875 L 21.15625 26.28125 L 22.03125 25.84375 L 21.59375 24.9375 L 19.75 21.3125 L 24.8125 20.6875 L 26.84375 20.4375 L 25.40625 19 L 10.71875 4.28125 Z M 11 7.4375 L 22.5625 18.96875 L 18.0625 19.5 L 16.65625 19.6875 L 17.3125 20.96875 L 19.375 24.96875 L 18.0625 25.65625 L 15.90625 21.34375 L 15.3125 20.21875 L 14.34375 21.03125 L 11 23.84375 Z"/>
            </svg>
            <p>Select Chain size here..</p>
          </div>
          <div id="tabs-data">
            <div id="author_bio_wrap">
              <div class="list sd active" id="tab1">
                <div class="locket-content">
                  <ul class="connected-sortable">
                    {%- for block in section.blocks -%}
                      {% assign cust_product = all_products[block.settings.product_s] %}
                      {% for tag in cust_product.tags %}
                        {% if tag contains 'Sub_Lockets' %}
                          <li class="ad_to_cart">
                            <div class="ad_to_cart_id" data-id="{{ cust_product.variants[0].id }}"
                                 data-title="{{ block.settings.product_name }}">
                              <div class="cust-tooltip" id="draggable">
                                <span>{{ cust_product.title }} </span>
                                <span class="price">{{ cust_product.price | money }}</span>
                                <a href="javascript:void(0)"><b>+</b></a>
                              </div>
                              <div class="draghere" data-id="{{ cust_product.variants[0].id }}">
                                {% if block.settings.image != blank %}
                                  <img src="{{ block.settings.image | image_url: 'master' }}" width="166" height="106" loading="lazy"/>
                                {% else %}
                                  <img src="{{ cust_product.featured_image | image_url: 'master' }}" width="166"
                                       height="106" loading="lazy"/>
                                {% endif %}
                              </div>
                              {% if block.settings.product_name != blank %}
                                <h4>{{ block.settings.product_name }}</h4>
                              {% else %}
                                <h4>{{ cust_product.title }}</h4>
                              {% endif %}
                            </div>
                          </li>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="list hide" id="tab2">
                <div class="locket-content charms-content">
                  {% capture charms_tag %}Sub_Alphabet,Sub_Roman Numerals,Sub_Zodiac Signs,Sub_Birthstones,Sub_Symbols{% endcapture %}
                  {% assign charms_tag = charms_tag | split: ',' %}
                  {% for cust_tag in charms_tag %}
                    <div class="locket-accordion-contianer {{ cust_tag }}">
                      <button class="locket-accordion"> {{ cust_tag | remove_first: "Sub_" }} </button>
                      <div class="panel">
                        <ul class="demo" id="sort_{{ cust_tag }}">
                          {% paginate collections['locket'].products by 1000 %}
                            {% for product in collections['locket'].products %}
                              {% if product.tags contains cust_tag %}
                                <li id="dragable_product"
                                    class="charms_{{ cust_tag }}" {% if product.metafields.custom.priority %} data-id="{{ product.metafields.custom.priority }}"  {% endif %}>
                                  <div class="ad_to_cart_id_charms" data-id="{{ product.variants[0].id }}"
                                       data-title="{{ product.title }}">
                                    <div class="cust-tooltip">
                                      <span>{{ product.title }} </span>
                                      <span class="price">{{ product.price | money }}</span>
                                      <a href="javascript:void(0)">+</a>
                                    </div>
                                    <div id="images">
                                      <img src="{{ product.variants[0].featured_image.src | image_url: '100x' }}"
                                           draggable="true" id="{{ product.variants[0].id }}" class="parent" width="100"
                                           height="100" loading="lazy"/>
                                    </div>
                                  </div>
                                </li>
                              {% endif %}
                            {% endfor %}
                          {% endpaginate %}
                        </ul>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="list hide" id="tab3">
                <div class="locket-content">
                  <ul>
                    <li class="ad_to_cart_chain">
                      <div class="ad_to_cart_chain_size" data-id="16" title="16">
                        <h4>16"</h4>
                      </div>
                    </li>
                    <li class="ad_to_cart_chain">
                      <div class="ad_to_cart_chain_size" data-id="18" title="18">
                        <h4>18"</h4>
                      </div>
                    </li>
                    <li class="ad_to_cart_chain">
                      <div class="ad_to_cart_chain_size" data-id="22" title="22">
                        <h4>22"</h4>
                      </div>
                    </li>
                    <li class="ad_to_cart_chain">
                      <div class="ad_to_cart_chain_size" data-id="30" title="30">
                        <h4>30"</h4>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="author_bio_toggle_wrapper">
              <a href="#0" id="author_bio_wrap_toggle">Show</a>
            </div>
          </div>
        </div>
      </div>
      <div class="locket-box locket-builder">
        <div id="canvastest"></div>
        <div id="mjs-wrapper" style="display:none">
          <img src="{{ 'chain_link_2.png' | asset_img_url: '30x13' }}" width="30" height="13" class="chain_link" loading="lazy"/>
          <img src="{{ 'chain_link_2.png' | asset_img_url: '30x13' }}" width="30" height="13" class="chain_link" loading="lazy"/>
          <img src="{{ 'chain_link_2.png' | asset_img_url: '30x13' }}" width="30" height="13" class="chain_link" loading="lazy"/>
          <img src="{{ 'chain_link_2.png' | asset_img_url: '30x13' }}" width="30" height="13" class="chain_link" loading="lazy"/>
          <img src="{{ 'chain_link_2.png' | asset_img_url: '30x13' }}" width="30" height="13" class="chain_link" loading="lazy"/>
          <img src="{{ 'chain_link_2.png' | asset_img_url: '30x13' }}" width="30" height="13" class="chain_link" loading="lazy"/>
          <img src="{{ 'chain_link_2.png' | asset_img_url: '30x13' }}" width="30" height="13" class="chain_link" loading="lazy"/>
          <img src="{{ 'chain_link_2.png' | asset_img_url: '30x13' }}" width="30" height="13" class="chain_link" loading="lazy"/>
          <img src="{{ 'chain_link_2.png' | asset_img_url: '30x13' }}" width="30" height="13" class="chain_link" loading="lazy"/>
          <img src="{{ 'chain_link_2.png' | asset_img_url: '30x13' }}" width="30" height="13" class="chain_link" loading="lazy"/>
          <img src="{{ 'chain_link_2.png' | asset_img_url: '30x13' }}" width="30" height="13" class="chain_link" loading="lazy"/>
          <img src="{{ 'chain_link_2.png' | asset_img_url: '30x13' }}" width="30" height="13" class="chain_link" loading="lazy"/>
          <img src="{{ 'chain_link_2.png' | asset_img_url: '30x13' }}" width="30" height="13" class="chain_link" loading="lazy"/>
          <img src="{{ 'chain_link_2.png' | asset_img_url: '30x13' }}" width="30" height="13" class="chain_link" loading="lazy"/>
          <img src="{{ 'chain_link_2.png' | asset_img_url: '30x13' }}" width="30" height="13" class="chain_link" loading="lazy"/>
          <img src="{{ 'chain_link_2.png' | asset_img_url: '30x13' }}" width="30" height="13" class="chain_link" loading="lazy"/>
          <img src="{{ 'chain_link_2.png' | asset_img_url: '30x13' }}" width="30" height="13" class="chain_link" loading="lazy"/>
          <img src="{{ 'chain_link_2.png' | asset_img_url: '30x13' }}" width="30" height="13" class="chain_link" loading="lazy"/>
          <img src="{{ 'chain_link_2.png' | asset_img_url: '30x13' }}" width="30" height="13" class="chain_link" loading="lazy"/>
          <img src="{{ 'chain_link_2.png' | asset_img_url: '30x13' }}" width="30" height="13" class="chain_link" loading="lazy"/>
          <img src="{{ 'chain_link_2.png' | asset_img_url: '30x13' }}" width="30" height="13" class="chain_link" loading="lazy"/>
          <img src="{{ 'chain_link_2.png' | asset_img_url: '30x13' }}" width="30" height="13" class="chain_link" loading="lazy"/>
          <img src="{{ 'chain_link_2.png' | asset_img_url: '30x13' }}" width="30" height="13" class="chain_link" loading="lazy"/>
          <img src="{{ 'chain_link_2.png' | asset_img_url: '30x13' }}" width="30" height="13" class="chain_link" loading="lazy"/>
          <img src="{{ 'chain_link_2.png' | asset_img_url: '30x13' }}" width="30" height="13" class="chain_link" loading="lazy"/>
          <img src="{{ 'chain_link_2.png' | asset_img_url: '30x13' }}" width="30" height="13" class="chain_link" loading="lazy"/>
        </div>
        <div class="locket-image-sec">
          <div class="locket-div-outr">
            <div id="canvas-container"></div>
          </div>
          <div class="locket_image">
            <div class="locket_chain_image_zoom">
              <a class="zoom-out">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12 0.333344C5.56708 0.333344 0.333374 5.56705 0.333374 12C0.333374 18.433 5.56708 23.6667 12 23.6667C18.433 23.6667 23.6667 18.433 23.6667 12C23.6667 5.56705 18.433 0.333344 12 0.333344ZM12 2.08334C17.4872 2.08334 21.9167 6.51282 21.9167 12C21.9167 17.4872 17.4872 21.9167 12 21.9167C6.51285 21.9167 2.08337 17.4872 2.08337 12C2.08337 6.51282 6.51285 2.08334 12 2.08334ZM7.04171 11.125C6.92576 11.1234 6.81064 11.1448 6.70305 11.188C6.59545 11.2313 6.49752 11.2955 6.41494 11.3769C6.33237 11.4583 6.2668 11.5553 6.22205 11.6623C6.17729 11.7692 6.15425 11.8841 6.15425 12C6.15425 12.116 6.17729 12.2308 6.22205 12.3377C6.2668 12.4447 6.33237 12.5417 6.41494 12.6232C6.49752 12.7046 6.59545 12.7688 6.70305 12.812C6.81064 12.8552 6.92576 12.8767 7.04171 12.875H16.9584C17.0743 12.8767 17.1894 12.8552 17.297 12.812C17.4046 12.7688 17.5026 12.7046 17.5851 12.6232C17.6677 12.5417 17.7333 12.4447 17.778 12.3377C17.8228 12.2308 17.8458 12.116 17.8458 12C17.8458 11.8841 17.8228 11.7692 17.778 11.6623C17.7333 11.5553 17.6677 11.4583 17.5851 11.3769C17.5026 11.2955 17.4046 11.2313 17.297 11.188C17.1894 11.1448 17.0743 11.1234 16.9584 11.125H7.04171Z"
                    fill="#C5C5C5"/>
                </svg>
              </a>
              <input type="range" min="1" max="2" value="1" step="0.1" id="zoomer" oninput="deepdive()">
              <a class="zoom-init">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12 0.333344C5.56708 0.333344 0.333374 5.56705 0.333374 12C0.333374 18.433 5.56708 23.6667 12 23.6667C18.433 23.6667 23.6667 18.433 23.6667 12C23.6667 5.56705 18.433 0.333344 12 0.333344ZM12 2.08334C17.4872 2.08334 21.9167 6.51282 21.9167 12C21.9167 17.4872 17.4872 21.9167 12 21.9167C6.51285 21.9167 2.08337 17.4872 2.08337 12C2.08337 6.51282 6.51285 2.08334 12 2.08334ZM11.9864 6.15414C11.7545 6.15777 11.5336 6.25327 11.3721 6.41969C11.2106 6.5861 11.1217 6.80981 11.125 7.04168V11.125H7.04171C6.92576 11.1234 6.81064 11.1448 6.70305 11.188C6.59545 11.2313 6.49752 11.2955 6.41494 11.3769C6.33237 11.4583 6.2668 11.5553 6.22205 11.6623C6.17729 11.7692 6.15425 11.8841 6.15425 12C6.15425 12.116 6.17729 12.2308 6.22205 12.3377C6.2668 12.4447 6.33237 12.5417 6.41494 12.6232C6.49752 12.7046 6.59545 12.7688 6.70305 12.812C6.81064 12.8552 6.92576 12.8767 7.04171 12.875H11.125V16.9583C11.1234 17.0743 11.1448 17.1894 11.1881 17.297C11.2313 17.4046 11.2955 17.5025 11.3769 17.5851C11.4583 17.6677 11.5553 17.7333 11.6623 17.778C11.7693 17.8228 11.8841 17.8458 12 17.8458C12.116 17.8458 12.2308 17.8228 12.3378 17.778C12.4448 17.7333 12.5418 17.6677 12.6232 17.5851C12.7046 17.5025 12.7688 17.4046 12.812 17.297C12.8553 17.1894 12.8767 17.0743 12.875 16.9583V12.875H16.9584C17.0743 12.8767 17.1894 12.8552 17.297 12.812C17.4046 12.7688 17.5026 12.7046 17.5851 12.6232C17.6677 12.5417 17.7333 12.4447 17.778 12.3377C17.8228 12.2308 17.8458 12.116 17.8458 12C17.8458 11.8841 17.8228 11.7692 17.778 11.6623C17.7333 11.5553 17.6677 11.4583 17.5851 11.3769C17.5026 11.2955 17.4046 11.2313 17.297 11.188C17.1894 11.1448 17.0743 11.1234 16.9584 11.125H12.875V7.04168C12.8767 6.92456 12.8549 6.80831 12.8108 6.69979C12.7667 6.59128 12.7013 6.49272 12.6184 6.40995C12.5356 6.32718 12.4369 6.26189 12.3283 6.21795C12.2198 6.17401 12.1035 6.15231 11.9864 6.15414Z"
                    fill="#A1927E"/>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="locket-box locket-info">
        <div class="locket-info-total-outr">
          <div class="locket-head">
            <h3>Your Locket</h3>
            <span class="share_btn">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.3"
                      d="M18 3C17.4696 3 16.9609 3.21071 16.5858 3.58579C16.2107 3.96086 16 4.46957 16 5C16 5.53043 16.2107 6.03914 16.5858 6.41421C16.9609 6.78929 17.4696 7 18 7C18.5304 7 19.0391 6.78929 19.4142 6.41421C19.7893 6.03914 20 5.53043 20 5C20 4.46957 19.7893 3.96086 19.4142 3.58579C19.0391 3.21071 18.5304 3 18 3ZM18 17C17.4696 17 16.9609 17.2107 16.5858 17.5858C16.2107 17.9609 16 18.4696 16 19C16 19.5304 16.2107 20.0391 16.5858 20.4142C16.9609 20.7893 17.4696 21 18 21C18.5304 21 19.0391 20.7893 19.4142 20.4142C19.7893 20.0391 20 19.5304 20 19C20 18.4696 19.7893 17.9609 19.4142 17.5858C19.0391 17.2107 18.5304 17 18 17ZM6 10C5.46957 10 4.96086 10.2107 4.58579 10.5858C4.21071 10.9609 4 11.4696 4 12C4 12.5304 4.21071 13.0391 4.58579 13.4142C4.96086 13.7893 5.46957 14 6 14C6.53043 14 7.03914 13.7893 7.41421 13.4142C7.78929 13.0391 8 12.5304 8 12C8 11.4696 7.78929 10.9609 7.41421 10.5858C7.03914 10.2107 6.53043 10 6 10Z"
                      fill="#A1927E"/>
                <path
                  d="M18 8C16.3 8 15 6.7 15 5C15 3.3 16.3 2 18 2C19.7 2 21 3.3 21 5C21 6.7 19.7 8 18 8ZM18 4C17.4 4 17 4.4 17 5C17 5.6 17.4 6 18 6C18.6 6 19 5.6 19 5C19 4.4 18.6 4 18 4ZM18 22C16.3 22 15 20.7 15 19C15 17.3 16.3 16 18 16C19.7 16 21 17.3 21 19C21 20.7 19.7 22 18 22ZM18 18C17.4 18 17 18.4 17 19C17 19.6 17.4 20 18 20C18.6 20 19 19.6 19 19C19 18.4 18.6 18 18 18ZM6 15C4.3 15 3 13.7 3 12C3 10.3 4.3 9 6 9C7.7 9 9 10.3 9 12C9 13.7 7.7 15 6 15ZM6 11C5.4 11 5 11.4 5 12C5 12.6 5.4 13 6 13C6.6 13 7 12.6 7 12C7 11.4 6.6 11 6 11Z"
                  fill="#A1927E"/>
                <path d="M7.26233 10.1027L15.8149 5.11634L16.8222 6.84414L8.26967 11.8305L7.26233 10.1027Z"
                      fill="#A1927E"/>
                <path d="M7.263 13.8862L8.27061 12.1586L16.8224 17.1463L15.8148 18.8739L7.263 13.8862Z" fill="#A1927E"/>
              </svg>
            </span>
            <span class="tooltiptext">Link Copied</span>
          </div>
          <div class="locket-prod-info">
            <div class="locket-prod">
              <div class="locket-prod-innr">
                <span>Locket Shape:</span>
                <span class="right-span" id="locketShape">Heart</span>
              </div>
              <div class="locket-prod-innr">
                <span>Chain:</span>
                <span class="right-span" id="chainShape">Link Chain</span>
              </div>
            </div>
            <div class="locket-prod">
              <div class="locket-prod-innr">
                <span>Charms:</span>
                <span class="right-span clear_charms">CLEAR</span>
              </div>
            </div>
            <div class="locket-cart">
              <div class="locket-cart-inner chain_size_div">
                <div>
                  <img src="{{ 'basic_chain.png' | asset_url }}" alt="" style="background-color: white;" width="2000"
                       height="1338" loading="lazy"/>
                </div>
                <div class="locket-cart-info">
                  <span class="p-title">Basic Chain</span>
                  <span class="p-price chain_size_price">Size&nbsp</span>
                  <span class="p-price chain_size_cost"> $150</span>
                </div>
              </div>
            </div>
          </div>
          <hr style="height: 0px;left: 996px;top: 796px;border: 1px solid #E6E6E6;">
        </div>
        <div class="addtocart-angle">
          <img src="{{ 'angle.svg ' | asset_url }}" alt="angle" width="12" height="7" loading="lazy"/>
          <img style="display: none;" src="{{ 'angle2.svg ' | asset_url }}" alt="angle" width="12" height="7" loading="lazy"/>
        </div>
        <div class="locket-prod-total">
          <div class="locket-prod-innr">
            <span>SUBTOTAL</span>
            <span class="right-span" id="Total_price">  </span>
          </div>
        </div>
        <div class="locket-submit">
          <a href="javascript:void(0)" class="btn product__submit__add loader"> Add to bag</a>
          <a href="javascript:void(0)" class="btn product__wishlist__add product__submit__add">Add to wishlist</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% render 'locket_script' %}
{% render 'canvas_script' %}

{% schema %}
{
  "name": "Locket section",
  "settings": [

  ],
  "blocks": [
    {
      "type": "product",
      "name": "product",
      "settings": [
        {
          "label": "Select Product",
          "id": "product_s",
          "type": "product"
        },
        {
          "label": "Product name",
          "id": "product_name",
          "type": "text",
          "info": "Replace the collection name with custom text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Replace the collection image with a custom image"
        }
      ]
    }
  ]
}
{% endschema %}
