{{ 'section-permlinked.css' | asset_url | stylesheet_tag }}

<div class="">
  <div class="image-header">
    <div class="permlink-image-container">
      {% render 'img', img: section.settings.desktop_image, alt: '' %}
    </div>
    <div class="container">
      <h1 class="page-title sr-only">Permanently Linked</h1>
      <img
        class="margin-bottom-sm"
        src="{{ 'permenantly-linked-logo-tagline.png' | asset_url }}"
        alt="Marks Permanently Linked&trade; Some bonds are forever."
        width="327"
        height="212"
        loading="lazy">
      <p>{{ section.settings.header_text }}</p>
      <p class="margin-top-md book-now">
        <a href="https://calendly.com/marks-jewelers-pa/permanently-linked-appointment?month=2022-11">Book Appointment Now</a>
      </p>
    </div>
  </div>

  <section id="shopify-section-template--16800982761694__ec3b5205-8132-4a0e-80bf-ba689466c52d" class="shopify-section">

    <link href="//www.marks-jewelers.com/cdn/shop/t/263/assets/section-content-copy-block.css?v=106380449901016274621693513936" rel="stylesheet" type="text/css" media="all">

    <div class="section-content" style="--heading-color: #000000;--copy-color: #000000;--heading-font-size-desktop: 2.0rem;--heading-font-size-mobile: 1.5rem;--bg-color: rgba(0,0,0,0);--text-alignment: center;--section-width: 920px;--section-inner-spacing-top: 4.375rem;--section-inner-spacing-bottom: 4.375rem;">

      <div class="container">

          <h1 class="section__content-heading">Permanent Jewelry</h1>

          <p>At Marks Jewelers, we understand that jewelry isn't just about accessorizing your outfit; it's about expressing your personality and creating a lasting memory on your person. That's why we offer a wide variety of permanent jewelry options that are perfect for individuals who want a unique piece that will stand apart from the crowd. Our skilled artisans use high-quality materials to create custom pieces that reflect your style and personality.</p>

      </div>

    </div>

  </section>

  <section id="shopify-section-template--16800982761694__7b5bad4e-d6ba-41d6-bb9d-de10736529f3" class="shopify-section">

    <link href="//www.marks-jewelers.com/cdn/shop/t/263/assets/section-faqs.css?v=42096046378158829411693513939" rel="stylesheet" type="text/css" media="all">

    <div class="faqs container" style="--section-width: 100%;">

      <ul class="faqs__items accordion js-accordion" data-animation="on" data-multi-items="off" data-component="accordion">

        <li class="accordion__item js-accordion__item ">
          <button class="reset accordion__header js-accordion__trigger js-tab-focus" aria-expanded="false" aria-controls="accordion-content-6-0" id="accordion-header-6-0">
            <span>What Is Permanent Jewelry?</span>
            <svg class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden" viewBox="0 0 20 20" aria-hidden="true" focusable="false">
              <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                <line x1="10" y1="14" x2="3" y2="7"></line>
                <line x1="17" y1="7" x2="10" y2="14"></line>
              </g>
            </svg>
          </button>
          <div class="accordion__panel js-accordion__panel" aria-labelledby="accordion-header-6-0" id="accordion-content-6-0">
            <div class="accordion__panel-content">
              <p>Permanent jewelry is a type of jewelry that is crafted to be worn indefinitely. Unlike traditional jewelry, which may need to be taken off and cleaned or replaced, permanent jewelry is meant to be worn all the time. That said, by it’s nature it is still precious jewelry and needs to be given the care and attention to ensure it will last as long as possible (please don’t think you can play sports while wearing it!). It's an excellent option for people who want a piece of jewelry that is both stylish and practical. With permanent jewelry, you don't have to worry about moving parts like clasps.</p>
            </div>
          </div>
        </li>

        <li class="accordion__item js-accordion__item ">
          <button class="reset accordion__header js-accordion__trigger js-tab-focus" aria-expanded="false" aria-controls="accordion-content-6-1" id="accordion-header-6-1">
            <span>Permanent Jewelry Supplies and Materials</span>
            <svg class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden" viewBox="0 0 20 20" aria-hidden="true" focusable="false">
              <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                <line x1="10" y1="14" x2="3" y2="7"></line>
                <line x1="17" y1="7" x2="10" y2="14"></line>
              </g>
            </svg>
          </button>
          <div class="accordion__panel js-accordion__panel" aria-labelledby="accordion-header-6-1" id="accordion-content-6-1">
            <div class="accordion__panel-content">
              <p>We use only the highest quality materials to create our permanent jewelry. Our materials include sterling silver and 14k gold. For a truly unique piece of jewelry you may want to learn more about how JewlVisiong can design you a <a href="https://www.marks-jewelers.com/pages/jewlvision?view=jewlvision"><span style="text-decoration:underline">custom piece of jewelry</span></a>. We also use a process to ensure that our jewelry is both as durable and safe as it can be for long-term wear.</p>
            </div>
          </div>
        </li>

        <li class="accordion__item js-accordion__item ">
          <button class="reset accordion__header js-accordion__trigger js-tab-focus" aria-expanded="false" aria-controls="accordion-content-6-2" id="accordion-header-6-2">
            <span>How To Do Permanent Jewelry</span>
            <svg class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden" viewBox="0 0 20 20" aria-hidden="true" focusable="false">
              <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                <line x1="10" y1="14" x2="3" y2="7"></line>
                <line x1="17" y1="7" x2="10" y2="14"></line>
              </g>
            </svg>
          </button>

          <div class="accordion__panel js-accordion__panel" aria-labelledby="accordion-header-6-2" id="accordion-content-6-2">
            <div class="accordion__panel-content">
              <p>Getting a permanent piece of jewelry is a simple process that can be completed in just one visit to our store. Our experienced artisans will work with you to design a custom piece that reflects your style and personality. Browse our stunning<a href="https://www.marks-jewelers.com/pages/permanently-linked"><span style="text-decoration:underline"> collection of chains</span></a> to choose what style suits you best. Once the design is finalized, we'll use our state-of-the-art equipment to safely and effectively link the jewelry together permanently.</p>
            </div>
          </div>
        </li>

        <li class="accordion__item js-accordion__item ">
          <button class="reset accordion__header js-accordion__trigger js-tab-focus" aria-expanded="false" aria-controls="accordion-content-6-3" id="accordion-header-6-3">
            <span>Link Permanent Jewelry</span>
            <svg class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden" viewBox="0 0 20 20" aria-hidden="true" focusable="false">
              <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                <line x1="10" y1="14" x2="3" y2="7"></line>
                <line x1="17" y1="7" x2="10" y2="14"></line>
              </g>
            </svg>
          </button>
          <div class="accordion__panel js-accordion__panel" aria-labelledby="accordion-header-6-3" id="accordion-content-6-3">
            <div class="accordion__panel-content">
              <p>Linking permanent jewelry involves creating a small opening in the skin and inserting a piece of jewelry directly underneath. Our team of professionals uses the latest techniques to ensure that the process is safe, sterile, and completely pain-free. The result is a beautiful piece of jewelry that becomes a part of you and lasts a lifetime.</p>
            </div>
          </div>
        </li>

        <li class="accordion__item js-accordion__item ">
          <button class="reset accordion__header js-accordion__trigger js-tab-focus" aria-expanded="false" aria-controls="accordion-content-6-4" id="accordion-header-6-4">
            <span>How Much Is Permanent Jewelry?</span>
            <svg class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden" viewBox="0 0 20 20" aria-hidden="true" focusable="false">
              <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                <line x1="10" y1="14" x2="3" y2="7"></line>
                <line x1="17" y1="7" x2="10" y2="14"></line>
              </g>
            </svg>
          </button>
          <div class="accordion__panel js-accordion__panel" aria-labelledby="accordion-header-6-4" id="accordion-content-6-4">
            <div class="accordion__panel-content">
              <p>The cost of permanent jewelry depends on the type of jewelry and the materials used. Our experienced staff can work with you to design a custom piece that fits your budget. Sterling silver jewelry starts around $50 and gold jewelry at $105. The weight of the chain and length determine what your final cost will be. The saying “life happens” certainly applies to permanent bracelets and anklets. As there is no clasp, the chains need to be more delicate in nature. To properly protect your purchase, we recommend buying a warranty so that even if you lose your jewelry, we will replace it at no cost.</p>
            </div>
          </div>
        </li>

        <li class="accordion__item js-accordion__item ">
          <button class="reset accordion__header js-accordion__trigger js-tab-focus" aria-expanded="false" aria-controls="accordion-content-6-5" id="accordion-header-6-5">
            <span>How To Clean Permanent Jewelry</span>
            <svg class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden" viewBox="0 0 20 20" aria-hidden="true" focusable="false">
              <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                <line x1="10" y1="14" x2="3" y2="7"></line>
                <line x1="17" y1="7" x2="10" y2="14"></line>
              </g>
            </svg>
          </button>
          <div class="accordion__panel js-accordion__panel" aria-labelledby="accordion-header-6-5" id="accordion-content-6-5">
            <div class="accordion__panel-content">
              <p>Cleaning permanent jewelry is simple and easy. We recommend using a mild soap and warm water to gently clean the jewelry. Avoid using harsh chemicals or abrasive materials, as these can damage the jewelry over time.</p>
            </div>
          </div>
        </li>
        <li class="accordion__item js-accordion__item ">
          <button class="reset accordion__header js-accordion__trigger js-tab-focus" aria-expanded="false" aria-controls="accordion-content-6-6" id="accordion-header-6-6">
            <span>Give the Gift of Permanent Jewelry To A Loved One</span>
            <svg class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden" viewBox="0 0 20 20" aria-hidden="true" focusable="false">
              <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                <line x1="10" y1="14" x2="3" y2="7"></line>
                <line x1="17" y1="7" x2="10" y2="14"></line>
              </g>
            </svg>
          </button>
          <div class="accordion__panel js-accordion__panel" aria-labelledby="accordion-header-6-6" id="accordion-content-6-6">
            <div class="accordion__panel-content">
              <p>If you have been searching for a unique and meaningful gift for a loved one, consider giving the gift of permanent jewelry. Our custom pieces can be designed to reflect the recipient's personality and style, making the jewelry a unique and extremely personal gift. Contact us today to learn more about our custom permanent jewelry options.</p><p>Permanent jewelry is a unique and personalized way to express your individuality. At Marks Jewelers, we offer high-quality and custom-made permanent jewelry options that will last a lifetime. From sterling silver to 14K gold, we use only the best materials to create our pieces. Our experienced artisans will work with you to design a custom piece that reflects your personality and style, and our state-of-the-art equipment ensures a safe and pain-free linking process. Contact us today to learn more about our custom permanent jewelry options.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="section-permlinked-boxes section-boxes">
    <div class="container">

      <div class="section-boxes-wrap">

        <div class="grid">
          <div class="section-boxes-bg col-6-sm order-2-sm" style="background-image: url({{ 'MJ-permlinked-step-one.jpg' | asset_url }});"></div>
          <div class="section-boxes-content col-6-sm order-1-sm">
            <div class="block-steps-number">1</div>
            <h2 class="block-steps-title">{{ section.settings.step_one_text_title }}</h2>
            <p>{{ section.settings.step_one_text }}</p>
          </div>
        </div>

        <div class="grid">
          <div class="section-boxes-bg col-6-sm" style="background-image: url({{ 'MJ-permlinked-step-two.jpg' | asset_url }});"></div>
          <div class="section-boxes-content col-6-sm">
            <div class="block-steps-number">2</div>
            <h2 class="block-steps-title">{{ section.settings.step_two_text_title }}</h2>
            <p>{{ section.settings.step_two_text }}</p>
          </div>
        </div>

        <div class="grid">
          <div class="section-boxes-bg col-6-sm order-2-sm" style="background-image: url({{ 'MJ-permlinked-step-three.jpg' | asset_url }});"></div>
          <div class="section-boxes-content col-6-sm order-1-sm">
            <div class="block-steps-number">3</div>
            <h2 class="block-steps-title">{{ section.settings.step_three_text_title }}</h2>
            <p>{{ section.settings.step_three_text }}</p>
          </div>
        </div>

      </div>

    </div>
  </section>

  {{ 'section-main-collection.css' | asset_url | stylesheet_tag }}
  <section class="section-permlink-collections">
    <div class="container">

      <h2 class="title--rules">
        <span>Gold Chains</span>
      </h2>
      <div class="collection collection--display">
        <div class="product-grid grid product-grid grid--2-col-tablet-down grid--5-col-desktop">
          <div class="grid__item">

            <div class="card-wrapper underline-links-hover">
              <div class="card card--media" style="--ratio-percent: 100%;">
                <div class="card__topRow">
                  <span class="newProduct-tag new-tag">NEW!</span>
                </div>

                <div class="media media--transparent media--hover-effect">
                  <img
                    src="{{ 'chain_violet.jpg' | asset_url }}"
                    alt="14k Gold Violet Chain"
                    width="460"
                    height="460"
                    loading="lazy">
                </div>

                <div class="card__content">
                  <div class="card__information">
                    <h3 class="card__vendor">Violet Chain</h3>
                    <h3 class="card__heading h5">14K Yellow Gold Link Chain</h3>
                    <div class="price">
                      $40/Inch
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="grid__item">

            <div class="card-wrapper underline-links-hover">
              <div class="card card--media" style="--ratio-percent: 100%;">
                <div class="card__topRow">
                  <span class="newProduct-tag new-tag">NEW!</span>
                </div>

                <div class="media media--transparent media--hover-effect">
                  <img
                    src="{{ 'chain_ava.jpg' | asset_url }}"
                    alt="14k Gold Ava Chain"
                    width="460"
                    height="460"
                    loading="lazy">
                </div>

                <div class="card__content">
                  <div class="card__information">
                    <h3 class="card__vendor">Ava Chain</h3>
                    <h3 class="card__heading h5">14K Yellow Gold Link Chain</h3>
                    <div class="price">
                      $36/Inch
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="grid__item">

            <div class="card-wrapper underline-links-hover">
              <div class="card card--media" style="--ratio-percent: 100%;">
                <div class="card__topRow">
                  <span class="newProduct-tag new-tag">NEW!</span>
                </div>

                <div class="media media--transparent media--hover-effect">
                  <img
                    src="{{ 'chain_cleo.jpg' | asset_url }}"
                    alt="14k Gold Cleo Chain"
                    width="460"
                    height="460"
                    loading="lazy">
                </div>

                <div class="card__content">
                  <div class="card__information">
                    <h3 class="card__vendor">Cleo Chain</h3>
                    <h3 class="card__heading h5">14K Yellow Gold Link Chain</h3>
                    <div class="price">
                      $45/Inch
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="grid__item">

            <div class="card-wrapper underline-links-hover">
              <div class="card card--media" style="--ratio-percent: 100%;">
                <div class="card__topRow">
                  <span class="newProduct-tag new-tag">NEW!</span>
                </div>

                <div class="media media--transparent media--hover-effect">
                  <img
                    src="{{ 'chain_brooklyn.jpg' | asset_url }}"
                    alt="14k Gold Brooklyn Chain"
                    width="460"
                    height="460"
                    loading="lazy">
                </div>

                <div class="card__content">
                  <div class="card__information">
                    <h3 class="card__vendor">Brooklyn Chain</h3>
                    <h3 class="card__heading h5">14K Yellow Gold Link Chain</h3>
                    <div class="price">
                      $35/Inch
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="grid__item">

            <div class="card-wrapper underline-links-hover">
              <div class="card card--media" style="--ratio-percent: 100%;">
                <div class="card__topRow">
                  <span class="newProduct-tag new-tag">NEW!</span>
                </div>

                <div class="media media--transparent media--hover-effect">
                  <img
                    src="{{ 'chain_harlow.jpg' | asset_url }}"
                    alt="14k Gold Harlow Chain"
                    width="460"
                    height="460"
                    loading="lazy">
                </div>

                <div class="card__content">
                  <div class="card__information">
                    <h3 class="card__vendor">Harlow Chain</h3>
                    <h3 class="card__heading h5">14K Yellow Gold Link Chain</h3>
                    <div class="price">
                      $15/Inch
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="grid__item">

            <div class="card-wrapper underline-links-hover">
              <div class="card card--media" style="--ratio-percent: 100%;">
                <div class="card__topRow">
                  <span class="newProduct-tag new-tag">NEW!</span>
                </div>

                <div class="media media--transparent media--hover-effect">
                  <img
                    src="{{ 'chain_quinn.jpg' | asset_url }}"
                    alt="14k Gold Quinn Chain"
                    width="460"
                    height="460"
                    loading="lazy">
                </div>

                <div class="card__content">
                  <div class="card__information">
                    <h3 class="card__vendor">Quinn Chain</h3>
                    <h3 class="card__heading h5">14K Yellow Gold Link Chain</h3>
                    <div class="price">
                      $22.50/Inch
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="grid__item">

            <div class="card-wrapper underline-links-hover">
              <div class="card card--media" style="--ratio-percent: 100%;">
                <div class="card__topRow">
                  <span class="newProduct-tag new-tag">NEW!</span>
                </div>

                <div class="media media--transparent media--hover-effect">
                  <img
                    src="{{ 'chain_gemma.jpg' | asset_url }}"
                    alt="14k Gold Gemma Chain"
                    width="460"
                    height="460"
                    loading="lazy">
                </div>

                <div class="card__content">
                  <div class="card__information">
                    <h3 class="card__vendor">Gemma Chain</h3>
                    <h3 class="card__heading h5">14K Yellow Gold Link Chain</h3>
                    <div class="price">
                      $25/Inch
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="grid__item">

            <div class="card-wrapper underline-links-hover">
              <div class="card card--media" style="--ratio-percent: 100%;">
                <div class="card__topRow">
                  <span class="newProduct-tag new-tag">NEW!</span>
                </div>

                <div class="media media--transparent media--hover-effect">
                  <img
                    src="{{ 'chain_willow.jpg' | asset_url }}"
                    alt="14k Gold Willow Chain"
                    width="460"
                    height="460"
                    loading="lazy">
                </div>

                <div class="card__content">
                  <div class="card__information">
                    <h3 class="card__vendor">Willow Chain</h3>
                    <h3 class="card__heading h5">14K Yellow Gold Link Chain</h3>
                    <div class="price">
                      $27.50/Inch
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="grid__item">

            <div class="card-wrapper underline-links-hover">
              <div class="card card--media" style="--ratio-percent: 100%;">
                <div class="card__topRow">
                  <span class="newProduct-tag new-tag">NEW!</span>
                </div>

                <div class="media media--transparent media--hover-effect">
                  <img
                    src="{{ 'chain_stella.jpg' | asset_url }}"
                    alt="14k Gold Stella Chain"
                    width="460"
                    height="460"
                    loading="lazy">
                </div>

                <div class="card__content">
                  <div class="card__information">
                    <h3 class="card__vendor">Stella Chain</h3>
                    <h3 class="card__heading h5">14K Yellow Gold Link Chain</h3>
                    <div class="price">
                      $35/Inch
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="grid__item">

            <div class="card-wrapper underline-links-hover">
              <div class="card card--media" style="--ratio-percent: 100%;">
                <div class="card__topRow">
                  <span class="newProduct-tag new-tag">NEW!</span>
                </div>

                <div class="media media--transparent media--hover-effect">
                  <img
                    src="{{ 'chain_zoe.jpg' | asset_url }}"
                    alt="14k White Gold Zoe Chain"
                    width="460"
                    height="460"
                    loading="lazy">
                </div>

                <div class="card__content">
                  <div class="card__information">
                    <h3 class="card__vendor">Zoe Chain</h3>
                    <h3 class="card__heading h5">14K White Gold Link Chain</h3>
                    <div class="price">
                      $37.50/Inch
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <h2 class="title--rules">
        <span>Sterling Silver Chains</span>
      </h2>

      <div class="collection collection--display">
        <div class="product-grid grid product-grid grid--2-col-tablet-down grid--5-col-desktop">
          <div class="grid__item">

            <div class="card-wrapper underline-links-hover">
              <div class="card card--media" style="--ratio-percent: 100%;">
                <div class="card__topRow">
                  <span class="newProduct-tag new-tag">NEW!</span>
                </div>

                <div class="media media--transparent media--hover-effect">
                  <img
                    src="{{ 'chain_lola.jpg' | asset_url }}"
                    alt="Sterling Silver Lola Chain"
                    width="460"
                    height="460"
                    loading="lazy">
                </div>

                <div class="card__content">
                  <div class="card__information">
                    <h3 class="card__vendor">Lola Chain</h3>
                    <h3 class="card__heading h5">Sterling Silver Link Chain</h3>
                    <div class="price">
                      $7/Inch
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="grid__item">

            <div class="card-wrapper underline-links-hover">
              <div class="card card--media" style="--ratio-percent: 100%;">
                <div class="card__topRow">
                  <span class="newProduct-tag new-tag">NEW!</span>
                </div>

                <div class="media media--transparent media--hover-effect">
                  <img
                    src="{{ 'chain_roxy.jpg' | asset_url }}"
                    alt="Sterling Silver Roxy Chain"
                    width="460"
                    height="460"
                    loading="lazy">
                </div>

                <div class="card__content">
                  <div class="card__information">
                    <h3 class="card__vendor">Roxy Chain</h3>
                    <h3 class="card__heading h5">Sterling Silver Link Chain</h3>
                    <div class="price">
                      $10/Inch
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </section>

  <section class="section-imagewtext section-imagewtext--right">
    <div class="container">

      <div class="section-imagewtext-image" style="background-image: url({{ 'linked-friends-arms.jpg' | asset_url }});"></div>

      <div class="section-imagewtext-text">
        <h2 class="section-imagewtext-title">It&rsquo;s an experience to share!</h2>
        <p>Mark a friendship, relationship, milestone, or simply treat yourself.</p>
        <p class="text-lg">The shared experience is ideal for:</p>
        <ul class="text-lg">
          <li>Best friends</li>
          <li>Sisters & cousins</li>
          <li>Mothers & daughters</li>
          <li>Boyfriends</li>
          <li>Girlfriends</li>
          <li>Bridal parties</li>
          <li>Ladies Nights</li>
          <li>Teams & groups</li>
        </ul>
        <p>
          <a href="https://calendly.com/marks-jewelers-pa/permanently-linked-appointment?month=2022-11" class="btn permlink-book">Book an Appointment</a>
        </p>
      </div>

    </div>
  </section>

  <section class="section-permlinked-faq">
    <div class="container">

      <h2 class="text-center margin-bottom-lg">Frequently Asked Questions</h2>

      <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="{{ 'jewlvision.js' | asset_url }}" defer></script>

      <ul class="faq__list">
        <li class="faq__item">
          <div class="faq__toggle">
            <h3 class="faq__title">What is permanent jewelry?</h3>
          </div>
          <div class="faq__answer">
            <p>Permanent jewelry is jewelry you don&rsquo;t take off. Permanent jewelry most often comes in the form of
              a bracelet or anklet. Instead of a clasp, it has ends welded together, so you don&rsquo;t take it off.
                            Typically, the chains are dainty.</p>
          </div>
        </li>
        <li class="faq__item">
          <div class="faq__toggle">
            <h3 class="faq__title">How long with my bracelet/anklet last?</h3>
          </div>
          <div class="faq__answer">
            <p>The solid gold used for these bracelets is durable and can last a lifetime. The bracelets are easily
              removed with scissors if need be.</p>
          </div>
        </li>
        <li class="faq__item">
          <div class="faq__toggle">
            <h3 class="faq__title">What if my chain breaks – Can it be relinked?</h3>
          </div>
          <div class="faq__answer">
            <p>The process is essentially welding the two ends into one "claspless" permanent bracelet, so you can come
              in to have yours fused again if you choose to remove it or it breaks.</p>
          </div>
        </li>
        <li class="faq__item">
          <div class="faq__toggle">
            <h3 class="faq__title">Can I add a charm if my bracelet is already fused?</h3>
          </div>
          <div class="faq__answer">
            <p>You can add charms to your bracelet after it is fused. We will simply cut the bracelet, add the charms,
              and fuse the bracelet again.</p>
          </div>
        </li>
        <li class="faq__item">
          <div class="faq__toggle">
            <h3 class="faq__title">Does the fusing part hurt, and how long does it last?</h3>
          </div>
          <div class="faq__answer">
            <p>No, the process of permanent jewelry does not hurt and only takes a few seconds. Once the bracelet is
              fused, it&rsquo;s permanently attached to the wearer's wrist.</p>
          </div>
        </li>
        <li class="faq__item">
          <div class="faq__toggle">
            <h3 class="faq__title">Is there an age minimum for Permanently Linked fusing?</h3>
          </div>
          <div class="faq__answer">
            <p>The minimum welding age is 5. Children must be able to sit calmly and still in a chair. Anyone under 18
              must have a parent or guardian present.</p>
          </div>
        </li>
        <li class="faq__item">
          <div class="faq__toggle">
            <h3 class="faq__title">Do I need to make an appointment?</h3>
          </div>
          <div class="faq__answer">
            <p>Appointments are typically for 2-3 people. The number of pieces fused per person is not limited.</p>
          </div>
        </li>
      </ul>

    </div>
  </section>

  <div class="footer-tagline">
    <div class="container">
      Love
      <b>grows</b>
      here
    </div>
  </div>

  <div class="banner-permlinked"></div>
</div>



{% schema %}
  {
    "name": "Permanently Linked",
    "tag": "section",
    "class": "permlinked",
    "settings": [
      {
        "id": "desktop_image",
        "type": "image_picker",
        "label": "Hero image"
      },
      {
        "id": "header_text",
        "type": "text",
        "label": "Header Text",
        "default": "Featuring custom-fitted bracelets and anklets WITHOUT clasps, our new Permanently Linked™ chains are flash welded on in just minutes."
      },
      {
        "type": "header",
        "content": "Box Steps Section"
      },
      {
        "id": "step_one_text_title",
        "type": "text",
        "label": "Step One Text Title",
        "default": "Choose your person <br> and set a date"
      }, {
        "id": "step_one_text",
        "type": "text",
        "label": "Step One Text",
        "default": "Getting Permanently Linked&trade; is a fun experience to share with a friend or loved one. Nothing conveys your bond quite like this!"
      }, {
        "id": "step_two_text_title",
        "type": "text",
        "label": "Step Two Text Title",
        "default": "Pick your chain <br> style and length"
      }, {
        "id": "step_two_text",
        "type": "text",
        "label": "Step Two Text",
        "default": "Each of our 14K Gold and Sterling Silver Permanently Linked&trade; chain styles are sold by the inch and are priced according to chains’ thickness and metal type."
      }, {
        "id": "step_three_text_title",
        "type": "text",
        "label": "Step Three Text Title",
        "default": "Get Permanently <br> Linked&trade; at Marks!"
      }, {
        "id": "step_three_text",
        "type": "text",
        "label": "Step Three Text",
        "default": "Appointments are fun! The process takes about a half hour for 1-3 people, and a little longer for larger groups <br>(the more the merrier)."
      }
    ]
  }
{% endschema %}
