{{ 'page_puremark.css' | asset_url | stylesheet_tag }}

<div class="page">
  <section class="page-header">
    <div class="container">

      <img class="margin-bottom-sm" src="{{ 'MJ-puremark-logo.png' | asset_url }}"
           alt="PureMark &trade;" width="400" height="130" loading="lazy">

      <h1 class="page-title sr-only">PureMark &trade;</h1>

      <p class="subtitle margin-bottom-lg margin-bottom-xl-xs">Exceptional Lab Grown Diamonds Without Compromise</p>

      <p>Introducing a luxury, 100% American-grown,<br class="hide block-md"> GIA-certified lab grown diamond, for those<br class="hide block-md"> seeking exceptional quality without compromise.</p>

      <div class="puremark-diamonds margin-top-xl margin-top-xxl-xs grid">
        <div class="col-4 col-2-xs">
          <img src="{{ 'Clarity-RB.png' | asset_url }}" alt="Round Shaped Diamond" width="70" height="70" loading="lazy">
          Round
        </div>
        <div class="col-4 col-2-xs">
          <img src="{{ 'Clarity-CU.png' | asset_url }}" alt="Cushion Shaped Diamond" width="70" height="70" loading="lazy">
          Cushion
        </div>
        <div class="col-4 col-2-xs">
          <img src="{{ 'Clarity-MQ.png' | asset_url }}" alt="Marquise Shaped Diamond" width="98" height="70" loading="lazy">
          Marquise
        </div>
        <div class="col-4 col-2-xs margin-top-md margin-0-xs">
          <img src="{{ 'Clarity-EM.png' | asset_url }}" alt="Emerald Shaped Diamond" width="70" height="70" loading="lazy">
          Emerald
        </div>
        <div class="col-4 col-2-xs margin-top-md margin-0-xs">
          <img src="{{ 'Clarity-RAD.png' | asset_url }}" alt="Radiant Shaped Diamond" width="70" height="70" loading="lazy">
          Radiant
        </div>
        <div class="col-4 col-2-xs margin-top-md margin-0-xs">
          <img src="{{ 'Clarity-PS.png' | asset_url }}" alt="Pear Shaped Diamond" width="84" height="70" loading="lazy">
          Pear
        </div>
      </div>

    </div>
  </section>

  <section class="puremark-usa">
    <div class="container">

      <div class="image-box">
        <img src="{{ 'inset-usa.jpg' | asset_url }}" alt="" width="800" height="600" class="inset-bg lazy">

        <h2>Grown in the USA</h2>

        <p>Marks Jewelers understands that knowing your diamond's origin is important. All of our PureMark Diamonds are grown right here in the United States. Our state-of-the-art growing facility partner, Clarity, proudly operates in Austin, Texas.</p>

        <a href="/collections/puremark-lab-grown-diamonds" class="btn">Shop PureMark Diamonds Now</a>
      </div>

    </div>
  </section>

  <section class="puremark-about">
    <div class="container">

      <div class="puremark-about-intro">
        <h2>Patented Growing Process</h2>

        <p>Each diamond is grown via the CVD process, but our CVD process is different – our diamonds are Single Growth As Grown. This process uniquely mimics how a diamond grows in the earth without interruption.</p>

        <p>The result is a diamond that grows free of visible growth lines with a bright, natural color without post-growth treatments. This single growth process, combined with superior cutting, is why your PureMark Diamond, powered by Clarity, is unparalleled.</p>
      </div>

      <div class="puremark-about-boxes">
        <h2>Why Choose PureMark?</h2>

        <div class="grid gap-lg">
          <a href="#superior-cut" class="col-6-sm">
            <img src="{{ 'inset-diamond-tweezers.jpg' | asset_url }}" alt="" width="800" height="570" class="lazy">
            <h3>Superior Cut</h3>
            <p>See why our diamonds sparkle brighter</p>
          </a>

          <div id="superior-cut" class="modal-window">
            <div>
              <a href="#/" title="Close" class="modal-close">Close</a>
              <img src="{{ 'MJ-puremark-logo-tag.png' | asset_url }}" alt="" width="401" height="152" class="lazy modal-logo">
              <img src="{{ 'inset-diamond-tweezers.jpg' | asset_url }}" alt="" width="800" height="570" class="lazy">
              <h3>Superior Cut</h3>
              <p>PureMark Diamonds feature superior diamond-cutting techniques. Visible in an asset
                device (we welcome you into our store to see it first hand), hearts and arrows are found in all our round lab-grown diamonds and premium cut fancy-shaped lab-grown diamonds. The result is guaranteed 3X (Excellent Cut, Polish, and Symmetry) quality on round lab-grown diamonds and VG+ (Very Good Plus) on all fancy-shaped lab-grown diamonds.</p>

                <p>All PureMark diamonds are cut with supreme precision, exhibiting exceptional beauty visible to the naked eye. They capture and reflect light in a way we haven't seen in lab-grown diamonds before, maximizing brilliance and fire and giving them the ultimate sparkle.</p>
            </div>
          </div>

          <a href="#absolute-origin" class="col-6-sm">
            <img src="{{ 'inset-ring-leaves.jpg' | asset_url }}" alt="" width="800" height="570" class="lazy">
            <h3>Absolute Origin</h3>
            <p>Know your diamonds unique story</p>
          </a>

          <div id="absolute-origin" class="modal-window">
            <div>
              <a href="#/" title="Close" class="modal-close">Close</a>
              <img src="{{ 'MJ-puremark-logo-tag.png' | asset_url }}" alt="" width="401" height="152" class="lazy modal-logo">
              <img src="{{ 'inset-ring-leaves.jpg' | asset_url }}" alt="" width="800" height="570" class="lazy">
              <h3>Absolute Origin</h3>
              <p>All Clarity Diamonds are “As Grown”. This means they have no post treatment to improve the color of the diamond.</p>

              <p>The standard CVD diamond is grown in multiple layers at the highest growth rate possible. The diamonds produced using this method often result in color grades that are subpar and require additional HPHT treatment to increase the color grades after the diamond is cut and polished. If diamonds are subjected to the HPHT treatment, the color can be improved up to three grades.</p>
            </div>
          </div>

          <a href="#gia-graded" class="col-6-sm">
            <img src="{{ 'inset-ring-rose.jpg' | asset_url }}" alt="" width="800" height="570" class="lazy">
            <h3>GIA Graded</h3>
            <p>Assurance from a trusted source</p>
          </a>

          <div id="gia-graded" class="modal-window">
            <div>
              <a href="#/" title="Close" class="modal-close">Close</a>
              <img src="{{ 'MJ-puremark-logo-tag.png' | asset_url }}" alt="" width="401" height="152" class="lazy modal-logo">
              <img src="{{ 'inset-ring-rose.jpg' | asset_url }}" alt="" width="800" height="570" class="lazy">
              <h3>GIA Graded</h3>
              <p>PureMark diamonds come with two reports: A GIA Diamond Grading Report - one of the premier credentials of a diamond's authenticity and quality and a GIA lab-grown report, or LGDR (Lab Grown Diamond Report), a new digital report of the 4Cs with a QR code link explaining the lab diamond's differences from natural diamonds. Each of our diamond's girdles is laser inscribed.</p>

              <p>We also offer the AGS Ideal® Report by GIA on all of our round lab-grown diamonds. It provides a light performance grade by analyzing its ability to absorb and return light (sparkle!).</p>
            </div>
          </div>

          <a href="#as-grown-promise" class="col-6-sm">
            <img src="{{ 'inset-handshake.jpg' | asset_url }}" alt="" width="800" height="570" class="lazy">
            <h3>As Grown Promise</h3>
            <p>Learn why not all diamonds are grown equal</p>
          </a>

          <div id="as-grown-promise" class="modal-window">
            <div>
              <a href="#/" title="Close" class="modal-close">Close</a>
              <img src="{{ 'MJ-puremark-logo-tag.png' | asset_url }}" alt="" width="401" height="152" class="lazy modal-logo">
              <img src="{{ 'inset-handshake.jpg' | asset_url }}" alt="" width="800" height="570" class="lazy">
              <h3>As Grown Promise</h3>
              <p>All PureMark Diamonds, powered by Clarity, are “As Grown.” By growing our diamonds in a single stage, the end product is optically pure - there are no imperfections due to starting and stopping the process. This also means they have no post-growth treatment to improve the color of the diamond. Imitation being the highest form of flattery, we tip our hat to mother nature as we attempt to recreate her process.</p>

              <p>The standard CVD lab-grown diamond is grown in multiple stages at the highest growth rate possible. Diamonds manufactured using this method often produce subpar color grades and require additional HPHT treatment to increase the color grades. If diamonds are subjected to these HPHT treatments, the color can be improved up to three grades.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="calloutbar">
    <div class="container">

      <h2>Want to know more about lab-grown diamonds?</h2>

      <a href="#/" id="puremark-faq-btn" class="btn">Check out our frequently asked questions!</a>

    </div>
  </section>

  <script>
    const slideDown = element => element.style.minHeight = `${element.scrollHeight}px`;

    document.getElementById("puremark-faq-btn").addEventListener("click", function (e) {
        slideDown(document.getElementById("puremark-faq"));
        document.getElementById("puremark-faq").style.height = "auto";
    });
  </script>

  <section id="puremark-faq" class="puremark-faq">
    <div class="container">

      <h2 class="margin-bottom-md">Frequently Asked Questions</h2>

      <ul class="accordion js-accordion accordion-style-2" data-animation="on" data-component="accordion">
        <li class="accordion__item js-accordion__item">
          <button class="reset accordion__header js-accordion__trigger js-tab-focus">
            <span>Are lab grown diamonds real?</span>
            <div class="accordion-icon">{%- render 'icon' icon: 'accordion-arrow', class: 'accordion__icon-arrow no-js:is-hidden' -%}</div>
          </button>

          <div class="accordion__panel js-accordion__panel">
            <div class="accordion__panel-content">
              <p>In today's world, "real" is a vague term like "genuine" which have been disallowed when describing things like diamonds. The Jewelers Vigilance Committee and the various diamond organizations require a diamond to be referred to as follows: mined diamonds are of a natural origin (occurring organically in nature) while synthetic diamonds, also known as lab-grown (preferably laboratory-grown), are grown from a diamond "seed" in a laboratory replicating the intense heat and pressure of mother nature. In truth, it is another mineral all together that looks like diamond, but is neither natural carbon or synthesized carbon. Laboratory-grown diamonds are diamonds in the sense of being crystalized carbon.</p>
            </div>
          </div>
        </li>

        <li class="accordion__item js-accordion__item">
          <button class="reset accordion__header js-accordion__trigger js-tab-focus">
            <span>What is a lab grown diamond?</span>
            <div class="accordion-icon">{%- render 'icon' icon: 'accordion-arrow', class: 'accordion__icon-arrow no-js:is-hidden' -%}</div>
          </button>

          <div class="accordion__panel js-accordion__panel">
            <div class="accordion__panel-content">
              <p>A laboratory-grown diamond is chemically, optically, and physically the same as a mined diamond - the difference occurs in how they were created. Formed through CVD or HPHT, the growing process is complete in as little as a few weeks, and then it is cut and polished to be used in jewelry, whereas mined diamonds were formed billions of years ago deep under the surface of the Earth.</p>
            </div>
          </div>
        </li>

        <li class="accordion__item js-accordion__item">
          <button class="reset accordion__header js-accordion__trigger js-tab-focus">
            <span>What are lab grown diamonds worth?</span>
            <div class="accordion-icon">{%- render 'icon' icon: 'accordion-arrow', class: 'accordion__icon-arrow no-js:is-hidden' -%}</div>
          </button>

          <div class="accordion__panel js-accordion__panel">
            <div class="accordion__panel-content">
              <p>Laboratory-grown diamonds are less costly than their natural counterparts – and the difference is increasing. Their worth is what the marketplace says it is, and recently it is viewed as a depreciating asset. As it is a product that can be manufactured, supply and demand dynamics have had a downward pressure on their pricing (nearly the opposite effect of naturally mined diamonds). With that said, worth is not always measured in dollars and cents. In many cases, consumers prefer to own a quality that would otherwise be unaffordable, opting for immediate gratification. With the stable nature of the mined diamond market, we offer a 100% price guarantee on trade-ins, while there is no trade-in policy for laboratory-grown diamonds.</p>
            </div>
          </div>
        </li>

        <li class="accordion__item js-accordion__item">
          <button class="reset accordion__header js-accordion__trigger js-tab-focus">
            <span>How are lab grown diamonds made?</span>
            <div class="accordion-icon">{%- render 'icon' icon: 'accordion-arrow', class: 'accordion__icon-arrow no-js:is-hidden' -%}</div>
          </button>

          <div class="accordion__panel js-accordion__panel">
            <div class="accordion__panel-content">
              <p>A laboratory-grown diamond is synthesized carbon, born of a process called "Chemical Vapor Deposition" or "Carbon Vapor Deposition", where carbon atoms rain down on a diamond "seed" while in a highly pressurized, highly heated vessel. Or, the diamond "seed" can be placed in an appliance with a carbon-rich environment of intense heat and pressure.</p>
            </div>
          </div>
        </li>

        <li class="accordion__item js-accordion__item">
          <button class="reset accordion__header js-accordion__trigger js-tab-focus">
            <span>What are the advantages and disadvantages of lab-grown diamond jewelry?</span>
            <div class="accordion-icon">{%- render 'icon' icon: 'accordion-arrow', class: 'accordion__icon-arrow no-js:is-hidden' -%}</div>
          </button>

          <div class="accordion__panel js-accordion__panel">
            <div class="accordion__panel-content">
              <p>The benefits of a laboratory-grown diamond, in a size of 1 carat or more, allows the buyer to purchase a larger diamond and/or a better quality diamond, for dramatically less, from one-tenth to one-third of the price of their mined counterpart. Short of not being able to trade it in for an upgrade, it affords the purchaser all the reflection and refraction of the natural diamond. Further, though all natural diamonds within Marks Jewelers are from diamantaire-partners who comply with the Kimberley Process, meaning they are not from a conflict-laden country, as less than 1% of diamonds are, the laboratory-grown diamonds are 100% conflict-free. The disadvantages are simply that a laboratory-grown diamond's value reduces each and every day. It is not an appreciating asset.</p>
            </div>
          </div>
        </li>

        <li class="accordion__item js-accordion__item">
          <button class="reset accordion__header js-accordion__trigger js-tab-focus">
            <span>What Do I Need To Know About Lab-Grown Vs. Natural Diamonds?</span>
            <div class="accordion-icon">{%- render 'icon' icon: 'accordion-arrow', class: 'accordion__icon-arrow no-js:is-hidden' -%}</div>
          </button>

          <div class="accordion__panel js-accordion__panel">
            <div class="accordion__panel-content">
              <p>The principal difference between laboratory-grown and naturally mined diamonds is their innate value. A laboratory-grown diamond is a technological marvel originating around 1951, taking several generations to get it large enough and of a quality acceptable for fine jewelry. As their production results from technology, laboratory-grown diamonds are a depreciating asset - worth less today than yesterday. However, they allow the purchaser to buy larger and/or better quality without the expense of a naturally mined diamond. Naturally mined diamonds have value reflective of it being a completely natural product, a product born 1 billion years ago to as much as 4 billion years ago, 75 to 125 miles beneath your very feet. Natural diamonds have a finite supply. Mines once plentiful are beginning to exhaust, without equivalent new mines coming online to take their place.</p>
            </div>
          </div>
        </li>

        <li class="accordion__item js-accordion__item">
          <button class="reset accordion__header js-accordion__trigger js-tab-focus">
            <span>Do Lab-Grown Diamonds pass a diamond tester?</span>
            <div class="accordion-icon">{%- render 'icon' icon: 'accordion-arrow', class: 'accordion__icon-arrow no-js:is-hidden' -%}</div>
          </button>

          <div class="accordion__panel js-accordion__panel">
            <div class="accordion__panel-content">
              <p>Diamond testers do not test for it being a diamond or not. Rather, they test for being naturally mined, laboratory-grown, or an imitation. There are differences between naturally mined and laboratory-grown diamonds in their growth patterns, reactions to ultraviolet light, and internal characteristics. In short, diamond testers will identify that it is a lab-grown diamond save for an extremely small margin of error.</p>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </section>

  <section class="puremark-shop">
    <div class="container">
      {{ 'section-main-collection.css' | asset_url | stylesheet_tag }}

      <h2>Shop PureMark Engagement Rings</h2>

      <div id="product-grid" class="grid product-grid">
        {% assign collection = collections['puremark'] %}
        {% for product in collection.products limit: 5 %}
          {% assign lazy_load = false %}
          {%- if forloop.index > 2 -%}
            {%- assign lazy_load = true -%}
          {%- endif -%}
          <div class="grid__item">
            {% render 'card-product',
              card_product: product,
              media_aspect_ratio: section.settings.image_ratio,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              lazy_load: lazy_load
            %}
          </div>
        {% endfor %}

      </div>

      <a href="/collections/puremark" class="btn btn-black">Shop All PureMark Engagement Rings</a>

    </div>
  </section>

  <section class="puremark-quality">
    <div class="container">

      <img src="{{ 'inset-jeweler.jpg' | asset_url }}" alt="" width="800" height="600" class="inset-bg lazy">

      <h2>Documented Quality</h2>

      <p>Each PureMark Diamond's girdle is laser inscribed with the term "Laboratory-Grown," the Clarity logo, and the GIA report number. The GIA grading report provides information on the diamond's 4Cs. We also offer the AGS Ideal® Report by GIA on all round diamonds, providing a light performance grade by analyzing the diamond's ability to absorb and return light (sparkle!).</p>

    </div>
  </section>

  <section class="puremark-eco">
    <div class="container">

      <div class="puremark-eco-content">
        <h2>Committed to the Environment</h2>

        <p>Our commitment to the environment begins with us producing our product with a concern for human and environmental well-being. We have responsible management practices for power, water, chemicals, and waste materials. Additionally, our power is nearly 50% carbon-free: mostly wind, some solar, and hydroelectric. It isn’t 100% yet — but our goal is to be completely carbon-free in the very near future!</p>
      </div>

    </div>
  </section>

  <section class="puremark-manufacturing">
    <div class="container">

      <p>Our manufacturing facility is a state-of-the-art facility, outfitted with the most modern machinery and equipment. Our staff are master cutters and polishers, many who have been with the company for decades. Our factory houses a polishing school and all of our employees are provided with extensive training and support. The factory is certified to the highest standards and we are proud to share our vision with our colleagues.</p>

      <img src="{{ 'Clarity-loose-scatter-5.jpg' | asset_url }}" alt="" width="1300" height="380" class="lazy">

    </div>
  </section>

  <section class="puremark-contact">
    <div class="container">

      <img src="{{ 'inset-proposal.jpg' | asset_url }}" alt="" width="800" height="600" class="inset-bg lazy">

      <div class="contact-form">
        <h2 class="margin-bottom-sm">Contact us now to find out more about PureMark.</h2>
        <div class="klaviyo-form-UKYZje"></div>
      </div>

    </div>
  </section>

  <div class="footer-tagline">
    <div class="container">
      Love <b>grows</b> here
    </div>
  </div>

</div>
