{{ 'custom_page_base.css' | asset_url | stylesheet_tag }}
{{ 'page_fingerprint.css' | asset_url | stylesheet_tag }}

<div class="page">
  <div class="image-header"
       style="background-image: url({{ 'fingerprint-fall-2.jpg' | asset_url }}); background-position: center center;"></div>
  <section class="page-header">
    <div class="container">

      <h1 class="page-title sr-only">Fingerprint Jewelry</h1>
      <img class="margin-bottom-sm" src="{{ 'MJ-fingerprint-logo.png' | asset_url }}"
           alt="Marks Fingerprint Jewelry. Hold your loved ones close." width="363" height="176" loading="lazy">
      <p>Personal keepsakes like fingerprint jewelry keep you in touch with a loved one. Fingerprint jewelry offers a
        personal connection that is also beautiful to wear. Our in-house artisans create castings that are unique both
        in the print design and how it is applied to your necklace or ring.</p>

    </div>
  </section>

  <section class="section-boxes">
    <div class="container">

      <div class="section-boxes-wrap">

        <div class="grid">
          <div class="section-boxes-bg col-6-sm order-2-sm"
               style="background-image: url({{ 'fingerprint-fathers-7.jpg' | asset_url }});"></div>
          <div class="section-boxes-content col-6-sm order-1-sm">
            <h2 class="margin-bottom-sm text-xxl">Memorialize a loved one’s legacy</h2>
            <p>There is just something about having the mark of a fingerprint close to your heart that brings comfort.
              Keep them close to you and your family for generations to come.</p>
          </div>
        </div>

        <div class="grid">
          <div class="section-boxes-bg col-6-sm"
               style="background-image: url({{ 'fingerprint-summer-3.jpg' | asset_url }});"></div>
          <div class="section-boxes-content col-6-sm">
            <h2 class="margin-bottom-sm text-xxl">Remain close, no matter how far</h2>
            <p>There are chapters in life when our path changes. Fingerprint jewelry can mark a moment in time, so you
              can seemingly hold it close to your heart forever.</p>
          </div>
        </div>

        <div class="grid">
          <div class="section-boxes-bg col-6-sm order-2-sm"
               style="background-image: url({{ 'fingerprint-vday-3.jpg' | asset_url }});"></div>
          <div class="section-boxes-content col-6-sm order-1-sm">
            <h2 class="margin-bottom-sm text-xxl">Wedding gifts and personalizations</h2>
            <p>The ultimate wedding gift personalization is adding fingerprints to your wedding jewelry. The artistic
              lines of a fingerprint make the markings a gift that is uniquely yours.</p>
          </div>
        </div>

      </div>

    </div>
  </section>

  <section class="section-fingerprints-form section-imagewtext section-imagewtext--left">
    <div class="container">

      <div class="section-imagewtext-image"
           style="background-image: url({{ 'fingerprint-mothers-3.jpg' | asset_url }});"></div>

      <div class="section-imagewtext-text text-center">
        <h2 class="section-imagewtext-title">Ready to create?</h2>
        <p>Our design team will work with you to find the perfect piece of jewelry to showcase your special finger
          print. Connect with us today and get started!</p>
        <div class="klaviyo-form-WwG5X2"></div>
      </div>

    </div>
  </section>

  <div class="footer-tagline">
    <div class="container">
      Love <b>grows</b> here
    </div>
  </div>

</div>
